@use "_background/~" as *;
@use "_border/~" as *;
@use "_flex/~" as *;
@use "_grid/~" as *;
@use "_indent/~" as *;
@use "_order/~" as *;
@use "_outline/~" as *;
@use "_placement/~" as *;
@use "_shadow/~" as *;
@use "_sizing/~" as *;
@use "_typography/~" as *;
@use "_z-index/~" as *;

@mixin utilities($type: "UNDEFINED_", $orientation: "UNDEFINED_") {
    // :is([theme="light"], [theme="dark"]) {
        @include background($type, $orientation);
        @include border($type, $orientation);
        @include flex($type, $orientation);
        @include grid($type, $orientation);
        @include indent($type, $orientation);
        @include order($type, $orientation);
        @include outline($type, $orientation);
        @include placement($type, $orientation);
        @include shadow($type, $orientation);
        @include sizing($type, $orientation);
        @include typography($type, $orientation);
        @include z-index($type, $orientation);
    // }
}