$defaultColors: (
    "white",
    "black"
);
$accentColors: (
    "positive",
    "negative",
    "prime",
    "second",
    "success",
    "danger"
);
$colorsGradientNumberSteps: 9;

$accentColorsPostfixes: (
    "light",
    "dark",
    "mute"
);