@mixin sizes (){
    // (⅟₁) — целые четверти
    --size--0: 0em;
    --size--1: 0.25em;
    --size--2: 0.5em;
    --size--3: 0.75em;
    --size--4: 1em;
    --size--5: 1.25em;
    --size--6: 1.5em;
    --size--7: 1.75em;
    --size--8: 2em;

    // (½) — половины
    --size--0_5: 0.125em;
    --size--1_5: 0.375em;
    --size--2_5: 0.625em;
    --size--3_5: 0.875em;
    --size--4_5: 1.125em;
    --size--5_5: 1.375em;
    --size--6_5: 1.625em;
    --size--7_5: 1.875em;

    // (¼) — четверти:
    --size--0_25: 0.0625em;
    --size--0_75: 0.1875em;
    --size--1_25: 0.3125em;
    --size--1_75: 0.4375em;
    --size--2_25: 0.5625em;
    --size--2_75: 0.6875em;
    --size--3_25: 0.8125em;
    --size--3_75: 0.9375em;
    --size--4_25: 1.0625em;
    --size--4_75: 1.1875em;
    --size--5_25: 1.3125em;
    --size--5_75: 1.4375em;
    --size--6_25: 1.5625em;
    --size--6_75: 1.6875em;
    --size--7_25: 1.8125em;
    --size--7_75: 1.9375em;
}

@mixin font-size () {
    --font-size--s3: var(--size--2_5);  // .625em;
    --font-size--s2: var(--size--3);    // .75em;
    --font-size--s1: var(--size--3_5);  // .875em;
    --font-size--md: var(--size--4);    // 1em;
    --font-size--l1: var(--size--4_5);  // 1.125em;
    --font-size--l2: var(--size--5);    // 1.25em;
    --font-size--l3: var(--size--5_5);  // 1.375em;
    --font-size--l4: var(--size--6);    //1.5em;

}
@mixin margin () {
    --margin--s3: var(--size--1);
    --margin--s2: var(--size--2);
    --margin--s1: var(--size--3);
    --margin--md: var(--size--4);
    --margin--l1: var(--size--5);
    --margin--l2: var(--size--6);
    --margin--l3: var(--size--7);
    --margin--l4: var(--size--8);
}
@mixin padding () {
    --padding--s3: var(--size--1);
    --padding--s2: var(--size--2);
    --padding--s1: var(--size--3);
    --padding--md: var(--size--4);
    --padding--l1: var(--size--5);
    --padding--l2: var(--size--6);
    --padding--l3: var(--size--7);
    --padding--l4: var(--size--8);
}
@mixin gap () {
    --gap--s3: var(--size--1);
    --gap--s2: var(--size--2);
    --gap--s1: var(--size--3);
    --gap--md: var(--size--4);
    --gap--l1: var(--size--5);
    --gap--l2: var(--size--6);
    --gap--l3: var(--size--7);
    --gap--l4: var(--size--8);
}
@mixin border-radius () {
    --border-radius--s3: var(--size--1);
    --border-radius--s2: var(--size--2);
    --border-radius--s1: var(--size--3);
    --border-radius--md: var(--size--4);
    --border-radius--l1: var(--size--5);
    --border-radius--l2: var(--size--6);
    --border-radius--l3: var(--size--7);
    --border-radius--l4: var(--size--8);
}
@mixin box-shadow () {
    --box-shadow--s3: var(--size--0_25);
    --box-shadow--s2: var(--size--0_5);
    --box-shadow--s1: var(--size--1);
    --box-shadow--md: var(--size--2);
    --box-shadow--l1: var(--size--3);
    --box-shadow--l2: var(--size--4);
    --box-shadow--l3: var(--size--5);
    --box-shadow--l4: var(--size--6);
}

@mixin base-colors (
    $prefix,
    $lightness,
    $chroma,
    $hue,
    $alfa-delta: 0.1
) {
    // --#{$prefix}: oklch(#{$lightness} #{$chroma} #{$hue});
    // --#{$prefix}--mute: oklch(#{$lightness} #{$chroma} #{$hue} / #{$alfa});
    @for $i from 1 through 9 {
        --#{$prefix}--0#{$i}: oklch(#{$lightness} #{$chroma} #{$hue} / #{$i * $alfa-delta});
    }
    --#{$prefix}: oklch(#{$lightness} #{$chroma} #{$hue});
}

@mixin accent-colors (
    $prefixes,
    $lightness,
    $lightness-offset,
    $chroma,
    $hue,
    $alfa
) {
    @each $prefix in $prefixes {
        @if ($lightness + $lightness-offset > 1) {
            @error "Сумма lightness и lightness-offset не должна превышать 1";
        }
        --#{$prefix}--light: oklch(#{$lightness + $lightness-offset} #{$chroma} #{$hue});
        --#{$prefix}: oklch(#{$lightness} #{$chroma} #{$hue});
        @if (($lightness - $lightness-offset) < 0) {
            @error "Разница lightness и lightness-offset не должна быть ниже 0";
        }
        --#{$prefix}--dark: oklch(#{$lightness - $lightness-offset} #{$chroma * .8} #{$hue});
        --#{$prefix}--mute: oklch(#{$lightness} #{$chroma} #{$hue} / #{$alfa});
    }
}