@mixin a (
    $color: currentColor,
    $text-decoration-color: currentColor,
    $text-decoration-line: underline,
    $text-decoration-style: solid,
    $text-decoration-thickness: auto,
    $text-underline-offset: var(--size--1),
    $cursor: pointer,
) {
    a {
        --color: #{$color};
        --text-decoration-color: #{$text-decoration-color};
        --text-decoration-line: #{$text-decoration-line};
        --text-decoration-style: #{$text-decoration-style};
        --text-decoration-thickness: #{$text-decoration-thickness};
        --text-underline-offset: #{$text-underline-offset};
        --cursor: #{$cursor};
    }
}
