@mixin body (
    $position: relative,
    $margin: unset,
    $padding: unset,    
    $min-height: 100dvh,
) {
    body {
        --margin: #{$margin};
        --padding: #{$padding};
        --position: #{$position};
        --min-height: #{$min-height};
    }
}