@mixin button (
    $display: inline-grid,
    $grid-auto-flow: column,
    $grid-gap: calc(var(--padding-block) + var(--border-width--min)),
    $justify-content: center,
    $align-items: center,
    $margin: unset,
    $vertical-align: middle,
    $text-align: center,
    $appearance: none,
    $min-width: calc(var(--line-height) + var(--padding-block) * 2 + var(--border-width--min) * 2),
    $min-height: var(--min-width),
    $font-size: var(--font-size--md),
    $font-weight: 500,
    $font-family: var(--font-family),
    $line-height: var(--font-size--l2),
    $padding-block: var(--padding--s3),
    $padding-inline: var(--padding--md),
    $border-radius: var(--border-radius--md),
    $border-width: var(--border-width--min),
    $border-style: solid,
    $border-color: transparent,
    $color: currentColor,
    $background-color: transparent,
    $cursor: pointer,
    $text-transform: uppercase,
    $letter-spacing: var(--size--025),
    $outline-style: solid,
    $outline-width: medium,
    $outline-color: transparent,
    $outline-offset: var(--size--0),
    $transition: "color .15s linear, background-color .15s linear, outline .15s linear"
) {
    button {
        --margin: #{$margin};
        --display: #{$display};
        --grid-auto-flow: #{$grid-auto-flow};
        --grid-gap: #{$grid-gap};
        --justify-content: #{$justify-content};
        --align-items: #{$align-items};
        --vertical-align: #{$vertical-align};
        --text-align: #{$text-align};
        --appearance: #{$appearance};
        --min-width: #{$min-width};
        --min-height: #{$min-height};
        --font-size: #{$font-size};
        --font-weight: #{$font-weight};
        --font-family: #{$font-family};
        --line-height: #{$line-height};
        --padding-block: #{$padding-block};
        --padding-inline: #{$padding-inline};
        --border-radius: #{$border-radius};
        --border-width: #{$border-width};
        --border-style: #{$border-style};
        --border-color: #{$border-color};
        --color: #{$color};
        --background-color: #{$background-color};
        --cursor: #{$cursor};
        --text-transform: #{$text-transform};
        --letter-spacing: #{$letter-spacing};
        --outline-style: #{$outline-style};
        --outline-width: #{$outline-width};
        --outline-color: #{$outline-color};
        --outline-offset: #{$outline-offset};
        --transition: #{$transition};
    }
}
