@mixin html (
    $position: relative,
    $box-sizing: border-box,
    $overscroll-behavior: none
) {
    --html_position: #{$position};
    --html_box-sizing: #{$box-sizing};
    --html_overscroll-behavior: #{$overscroll-behavior};
}