@mixin sub (
    $top: calc(var(--size--2) * -1),
    $font-size: var(--size--3),
    $line-height: var(--size--0),
    $position: relative,
    $vertical-align: baseline
) {
    sub {
        --top: #{$top};
        --font-size: #{$font-size};
        --line-height: #{$line-height};
        --position: #{$position};
        --vertical-align: #{$vertical-align};
    }
}