@mixin flex-direction($type, $orientation, $enableVariables) {
    /* flex direction */
    @each $flexDirection in (
        "row",
        "row-reverse",
        "column",
        "column-reverse"
    ) {
        .#{$type}#{$orientation}flex-direction--#{$flexDirection} {
            flex-direction: #{$flexDirection};
        }
    }

    @if $enableVariables {
        .flex-direction {
            @if $type == "" and $orientation == "" {
                flex-direction: var(--flex-direction);
            } @else {
                flex-direction: var(--#{$type}#{$orientation}flex-direction, var(--flex-direction));
            }
        }
    }
}