@mixin flex-direction($type, $orientation) {
    /* flex direction */
    @each $flexDirection in (
        "row",
        "row-reverse",
        "column",
        "column-reverse"
    ) {
        .#{$type}#{$orientation}flex-direction--#{$flexDirection} {
            flex-direction: #{$flexDirection};
        }
    }
}