@mixin flex-wrap($type, $orientation) {
    /* flex wrap */
    @each $flexWrap in (
        "wrap",
        "wrap-reverse",
        "nowrap"
    ) {
        .#{$type}#{$orientation}flex-wrap--#{$flexWrap} {
            flex-wrap: #{$flexWrap};
        }
    }
}