@mixin flex($device, $orientation, $enableVariables) {
    /* flex */
    @each $flex in (
        "none",
        "initial",
        "auto"
    ) {
        .#{$device}#{$orientation}flex--#{$flex} {
            flex: #{$flex};
        }
    }

    @if $enableVariables {
        .flex {
            @if $device == "" and $orientation == "" {
                flex: var(--flex);
            } @else {
                flex: var(--#{$device}#{$orientation}flex, var(--flex));
            }
        }
    }
}