@mixin flex-basis($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* flex basis */
    @each $flexBasis in (
        "max-content",
        "min-content",
        "fit-content"
    ) {
        .#{$type}#{$orientation}flex-basis--#{$flexBasis} {
            flex-basis: #{$flexBasis};
        }
    }
    
    @if $enableVariables {
        // .flex,
        .flex-basis {
            flex-basis: var(--#{$type}#{$orientation}flex-basis, var(--flex-basis));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --flex-basis: initial;
                }
            }
        }
    }
}