@mixin flex-basis($device, $orientation, $enableVariables) {
    /* flex basis */
    @each $flexBasis in (
        "max-content",
        "min-content",
        "fit-content"
    ) {
        .#{$device}#{$orientation}flex-basis--#{$flexBasis} {
            flex-basis: #{$flexBasis};
        }
    }
    
    @if $enableVariables {
        .flex-basis {
            @if $device == "" and $orientation == "" {
                flex-basis: var(--flex-basis);
            } @else {
                flex-basis: var(--#{$device}#{$orientation}flex-basis, var(--flex-basis));
            }
        }
    }
}