@mixin flex($type, $orientation, $enableVariables) {
    /* flex */
    @each $flex in (
        "none",
        "initial",
        "auto"
    ) {
        .#{$type}#{$orientation}flex--#{$flex} {
            flex: #{$flex};
        }
    }

    @if $enableVariables {
        .flex {
            @if $type == "" and $orientation == "" {
                flex: var(--flex);
            } @else {
                flex: var(--#{$type}#{$orientation}flex, var(--flex));
            }
        }
    }
}