@mixin flex-grow($type, $orientation, $enableVariables) {
    /* flex grow */
    
    @if $enableVariables {
        .flex,
        .flex-grow {
            flex-grow: var(--#{$type}#{$orientation}flex-grow, var(--flex-grow));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}flex-grow: initial;
                }
        }
    }
}