@mixin flex($type, $orientation) {
    /* flex */
    @each $flex in (
        "none", // 0 0 auto
        "initial", // 0 1 auto
        "auto" // 1 1 auto
    ) {
        .#{$type}#{$orientation}flex--#{$flex} {
            flex: #{$flex};
        }
    }
}