@mixin flex-shrink($type, $orientation, $enableVariables) {
    /* flex shrink */
    
    @if $enableVariables {
        .flex,
        .flex-shrink {
            flex-shrink: var(--#{$type}#{$orientation}flex-shrink, var(--flex-shrink));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}flex-shrink: initial;
                }
        }
    }
}