@mixin flex-basis($type, $orientation, $enableVariables) {
    /* flex basis */
    @each $alias, $flexBasis in (
        // "auto": "auto",
        "max": "max-content",
        "min": "min-content",
        "fit": "fit-content"
    ) {
        .#{$type}#{$orientation}flex-basis--#{$alias} {
            flex-basis: #{$flexBasis};
        }
    }
    
    @if $enableVariables {
        .flex,
        .flex-basis {
            flex-basis: var(--#{$type}#{$orientation}flex-basis, var(--flex-basis));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}flex-basis: initial;
                }
        }
    }
}