@mixin flex-basis($type, $orientation, $enableVariables) {
    /* flex basis */
    @each $flexBasis in (
        "max-content",
        "min-content",
        "fit-content"
    ) {
        .#{$type}#{$orientation}flex-basis--#{$flexBasis} {
            flex-basis: #{$flexBasis};
        }
    }
    
    @if $enableVariables {
        .flex-basis {
            flex-basis: var(--#{$type}#{$orientation}flex-basis, var(--flex-basis));
        }
    }
}