@use "flex-basis" as *;
@use "flex-direction" as *;
@use "flex-grow" as *;
@use "flex-shrink" as *;
@use "flex-wrap" as *;
@use "flex" as flex;

@mixin flex($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include flex-basis($type, $orientation, $enableVariables, $enableVariablesReset);
    @include flex-direction($type, $orientation);
    @include flex-grow($type, $orientation, $enableVariables, $enableVariablesReset);
    @include flex-shrink($type, $orientation, $enableVariables, $enableVariablesReset);
    @include flex-wrap($type, $orientation);
    @include flex.flex($type, $orientation);
}