$borderRadiusCorner: (
    "start-start",
    "start-end",
    "end-end",
    "end-start"
);
$borderRadiusSize: (
    "s3",
    "s2",
    "s1",
    "md",
    "l1",
    "l2",
    "l3",
    "l4"
);
$borderRadiusXtraSize: (
    oval: 50%,
    pill: var(--border-radius--l4)
);

@mixin border-radius($device, $orientation) {
    // preset: border radius
    .#{$device}#{$orientation}border-radius {
        @each $size in $borderRadiusSize {
            &--#{$size} {
                border-radius: var(--border-radius--#{$size});
            }
        }
        @each $name, $xtraSize in $borderRadiusXtraSize {
            &--#{$name} {
                border-radius: #{$xtraSize};
            }
        }
    }
    @each $corner in $borderRadiusCorner {
        .#{$device}#{$orientation}border-#{$corner}-radius {
            @each $size in $borderRadiusSize {
                &--#{$size} {
                    border-#{$corner}-radius: var(--border-radius--#{$size});
                }
            }
            @each $name, $xtraSize in $borderRadiusXtraSize {
                &--#{$name} {
                    border-#{$corner}-radius: #{$xtraSize};
                }
            }
        }
    }
}

