@mixin pointer-events($type, $orientation, $enableVariables) {
    /* pointer events */
    .#{$type}#{$orientation}pointer-events--none {
        pointer-events: none;
    }

    @if $enableVariables {
        .pointer-events {
            @if $type == "" and $orientation == "" {
                pointer-events: var(--pointer-events);
            } @else {
                pointer-events: var(--#{$type}#{$orientation}pointer-events, var(--pointer-events));
            }
        }
    }
}