@mixin pointer-events($device, $orientation, $enableVariables) {
    /* pointer events */
    .#{$device}#{$orientation}pointer-events--none {
        pointer-events: none;
    }

    @if $enableVariables {
        .pointer-events {
            @if $device == "" and $orientation == "" {
                pointer-events: var(--pointer-events);
            } @else {
                pointer-events: var(--#{$device}#{$orientation}pointer-events, var(--pointer-events));
            }
        }
    }
}