@mixin user-select($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* user select */
    @each $userSelect in (
        "none",
        "auto",
        "text",
        "all"
    ) {
        .#{$type}#{$orientation}user-select--#{$userSelect} {
            user-select: #{$userSelect};
        }
    }
}