@mixin user-select($type, $orientation, $enableVariables) {
    /* user select */
    @each $userSelect in (
        "none",
        "auto",
        "text",
        "all"
    ) {
        .#{$type}#{$orientation}user-select--#{$userSelect} {
            user-select: #{$userSelect};
        }
    }

    @if $enableVariables {
        .user-select {
            @if $type == "" and $orientation == "" {
                user-select: var(--user-select);
            } @else {
                user-select: var(--#{$type}#{$orientation}user-select, var(--user-select));
            }
        }
    }
}