@use "sass:map";

@use "../_settings" as settings;
@use "../_assets/_base/_utilities/~" as base;
@use "../_assets/_xtra/_themes/_default/_utilities/~" as xtra;

@layer utilities {
    @include base.utilities(
        map.get(settings.$tabletLandscape, type),
        map.get(settings.$tabletLandscape, orientation),
        settings.$enableVariables,
        settings.$enableVariablesReset
    );
    @include xtra.utilities(
        map.get(settings.$tabletLandscape, type),
        map.get(settings.$tabletLandscape, orientation)
    );
}