@mixin zoom($type, $orientation, $enableVariables) {
    /* zoom */

    @if $enableVariables {
        .zoom {
            zoom: var(--#{$type}#{$orientation}zoom, var(--zoom));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}zoom: initial;
            }
        }
    }
}