@mixin zoom($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* zoom */

    @if $enableVariables {
        .zoom {
            zoom: var(--#{$type}#{$orientation}zoom, var(--zoom));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --zoom: initial;
                }
            }
        }
    }
}