@mixin a($hover-active) {
    a {
        --border-radius: var(--border-radius--s3);

        --color: var(--negative);
        --text-decoration-line: underline;
        --text-decoration-style: solid;
        --text-decoration-color: var(--negative--dark);
        --text-decoration-thickness: auto;
        --text-underline-offset: var(--size--1);

        --cursor: pointer;
        --transition: all var(--transition-duration) var(--transition-timing-function);
        --outline-style: solid;
        --outline-width: var(--size--0_5);
        --outline-color: transparent;
        --outline-offset: var(--size--0_5);
        &:visited {
            --color: var(--negative--light);
            --text-decoration-color: var(--negative--light);
        }
        @if ($hover-active) {
            &:hover {
                --color: var(--negative--dark);
                --text-decoration-color: var(--negative--dark);
            }
        }
        &:focus-visible:not(:hover) {
            --outline-color: var(--negative--mute);
        }
        @each $color in (
            "prime",
            "second",
            "success",
            "danger"
        ) {
            &.#{$color} {
                --color: var(--#{$color});
                --text-decoration-color: var(--#{$color}--dark);
                &:visited {
                    --color: var(--#{$color}--dark);
                    --text-decoration-color: var(--#{$color}--light);
                }
                @if ($hover-active) {
                    &:hover {
                        --color: var(--#{$color}--dark);
                        --text-decoration-color: var(--#{$color}--dark);
                    }
                }
                &:focus-visible:not(:hover) {
                    --outline-color: var(--#{$color}--mute);
                }
            }
        }
    }
}
