@mixin pre() {
    pre {
        --margin-block: var(--margin--md);
        &:where(:first-child:first-of-type) {
            --margin-block: 0 var(--margin--md);
        }
        &:where(:last-child:last-of-type) {
            --margin-block: var(--margin--md) 0;
        }
        &:where(:first-child:first-of-type:last-child:last-of-type) {
            --margin-block: 0;
        }
    }
}