@mixin grid-template($type, $orientation, $enableVariables) {
    /* grid template */
    
    @each $gridTemplate in (
        "columns",
        "rows"
    ) {
        @if $enableVariables {
            .grid-template-#{$gridTemplate} {
                grid-template-#{$gridTemplate}: var(--#{$type}#{$orientation}grid-template-#{$gridTemplate}, var(--grid-template-#{$gridTemplate}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}grid-template-#{$gridTemplate}: initial;
                }
            }
        }
    }
}