@mixin grid-row($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* grid row */
    
    @if $enableVariables {
        .grid-row {
            grid-row: var(--#{$type}#{$orientation}grid-row-start, var(--grid-row-start)) / var(--#{$type}#{$orientation}grid-row-end, var(--grid-row-end));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --grid-row-start: initial;
                    --grid-row-end: initial;
                }
            }
        }
    }
}