@mixin grid-auto-rows($type, $orientation, $enableVariables) {
    /* grid auto rows */
    
    @if $enableVariables {
        .grid-auto-rows {
            grid-auto-rows: var(--#{$type}#{$orientation}grid-auto-rows, var(--grid-auto-rows));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}grid-auto-rows: initial;
            }
        }
    }
}