@mixin grid-template($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* grid template */
    
    @each $gridTemplate in (
        "columns",
        "rows"
    ) {
        @if $enableVariables {
            .grid-template-#{$gridTemplate} {
                grid-template-#{$gridTemplate}: var(--#{$type}#{$orientation}grid-template-#{$gridTemplate}, var(--grid-template-#{$gridTemplate}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --grid-template-#{$gridTemplate}: initial;
                    }
                }
            }
        }
    }
}