@mixin grid-auto-flow($device, $orientation, $enableVariables) {
    /* grid auto flow */
    @each $alias, $gridAutoFlow in (
        "column": "column",
        "row": "row",
        "dense": "dense",
        "row-dense": "row dense",
        "column-dense": "column dense"
    ) {
        .#{$device}#{$orientation}grid-auto-flow--#{$alias} {
            grid-auto-flow: #{$gridAutoFlow};
        }
    }

    @if $enableVariables {
        .grid-auto-flow {
            @if $device == "" and $orientation == "" {
                grid-auto-flow: var(--grid-auto-flow);
            } @else {
                grid-auto-flow: var(--#{$device}#{$orientation}grid-auto-flow, var(--grid-auto-flow));
            }
        }
    }
}