@mixin grid-auto-columns($type, $orientation, $enableVariables) {
    /* grid auto columns */
    
    @if $enableVariables {
        .grid-auto-columns {
            grid-auto-columns: var(--#{$type}#{$orientation}grid-auto-columns, var(--grid-auto-columns));
        }
    }
}