@mixin grid-auto-flow($type, $orientation) {
    /* grid auto flow */
    @each $alias, $gridAutoFlow in (
        "column": "column",
        "row": "row",
        "dense": "dense",
        "row-dense": "row dense",
        "column-dense": "column dense"
    ) {
        .#{$type}#{$orientation}grid-auto-flow--#{$alias} {
            grid-auto-flow: #{$gridAutoFlow};
        }
    }
}