@use "grid-auto-columns" as *;
@use "grid-auto-flow" as *;
@use "grid-auto-rows" as *;
@use "grid-column" as *;
@use "grid-row" as *;
@use "grid-template" as *;

@mixin grid($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include grid-auto-columns($type, $orientation, $enableVariables, $enableVariablesReset);
    @include grid-auto-flow($type, $orientation);
    @include grid-auto-rows($type, $orientation, $enableVariables, $enableVariablesReset);
    @include grid-column($type, $orientation, $enableVariables, $enableVariablesReset);
    @include grid-row($type, $orientation, $enableVariables, $enableVariablesReset);
    @include grid-template($type, $orientation, $enableVariables, $enableVariablesReset);
}