@mixin filter($type, $orientation, $enableVariables) {
    /* filter */

    @if $enableVariables {
        .filter {
            filter: var(--#{$type}#{$orientation}filter, var(--filter));
        }
    }
}