@mixin column-rule-width($device, $orientation, $enableVariables) {
    /* column-rule width */
    @each $width in (
        "thin",
        "medium",
        "thick"
    ) {
        .#{$device}#{$orientation}column-rule-width--#{$width} {
            column-rule-width: var(--column-rule-width--#{$width}, #{$width});
        }
    }
    
    @if $enableVariables {
        .column-rule-width {
            @if $device == "" and $orientation == "" {
                column-rule-width: var(--column-rule-width);
            } @else {
                column-rule-width: var(--#{$device}#{$orientation}column-rule-width, var(--column-rule-width));
            }
        }
    }
}