@mixin column-fill($type, $orientation, $enableVariables) {
    /* column fill */
    @each $columnFill in (
        "auto",
        "balance",
    ) {
        .#{$type}#{$orientation}column-fill--#{$columnFill} {
            column-fill: #{$columnFill};
        }
    }

    @if $enableVariables {
        .column-fill {
            @if $type == "" and $orientation == "" {
                column-fill: var(--column-fill);
            } @else {
                column-fill: var(--#{$type}#{$orientation}column-fill, var(--column-fill));
            }
        }
    }
}