@mixin column-count($device, $orientation, $enableVariables) {
    /* column count */
    .#{$device}#{$orientation}column-count--auto {
        column-count: auto;
    }
    
    @if $enableVariables {
        .column-count {
            @if $device == "" and $orientation == "" {
                column-count: var(--column-count);
            } @else {
                column-count: var(--#{$device}#{$orientation}column-count, var(--column-count));
            }
        }
    }
}