@mixin column-rule-style($device, $orientation, $enableVariables) {
    /* column rule style */
    @each $columnRuleStyle in (
        "dotted",
        "dashed",
        "solid",
        "none"
    ) {
        .#{$device}#{$orientation}column-rule-style--#{$columnRuleStyle} {
            column-rule-style: #{$columnRuleStyle};
        }
    }
    
    @if $enableVariables {
        .column-style {
            @if $device == "" and $orientation == "" {
                column-rule-style: var(--column-rule-style);
            } @else {
                column-rule-style: var(--#{$device}#{$orientation}column-rule-style, var(--column-rule-style));
            }
        }
    }
}