@mixin column-span($device, $orientation, $enableVariables) {
    /* column span */
    @each $columnSpan in (
        "auto",
        "none",
    ) {
        .#{$device}#{$orientation}column-span--#{$columnSpan} {
            column-span: #{$columnSpan};
        }
    }

    @if $enableVariables {
        .column-span {
            @if $device == "" and $orientation == "" {
                column-span: var(--column-span);
            } @else {
                column-span: var(--#{$device}#{$orientation}column-span, var(--column-span));
            }
        }
    }
}