$defaultColors: (
    "positive",
    "negative"
);
$accentColors: (
    "prime",
    "second",
    // "info",
    "success",
    // "warning",
    "error"
);
$defaultExtraColorsInterval: 9;

$accentExtraColorsPrefs: (
    "light",
    "dark",
    "mute"
);