@mixin justify-content($device, $orientation, $enableVariables) {
    /* justify content */
    @each $justifyContent in (
        "space-around",
        "space-between",
        "center",
        "end",
        "space-evenly",
        "start",
        "stretch"
    ) {
        .#{$device}#{$orientation}justify-content--#{$justifyContent} {
            justify-content: #{$justifyContent};
        }
    }

    @if $enableVariables {
        .justify-content {
            @if $device == "" and $orientation == "" {
                justify-content: var(--justify-content);
            } @else {
                justify-content: var(--#{$device}#{$orientation}justify-content, var(--justify-content));
            }
        }
    }
}