@mixin justify-self($type, $orientation) {
    /* justify self */
    @each $justifySelf in (
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}justify-self--#{$justifySelf} {        
            justify-self: #{$justifySelf};
        }
    }
}