@mixin justify-items($type, $orientation, $enableVariables) {
    /* justify items */
    @each $justifyItems in (
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}justify-items--#{$justifyItems} {
            justify-items: #{$justifyItems};
        }
    }

    @if $enableVariables {
        .justify-items {
            @if $type == "" and $orientation == "" {
                justify-items: var(--justify-items);
            } @else {
                justify-items: var(--#{$type}#{$orientation}justify-items, var(--justify-items));
            }
        }
    }
}