@mixin justify-self($device, $orientation, $enableVariables) {
    /* justify self */
    @each $justifySelf in (
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$device}#{$orientation}justify-self--#{$justifySelf} {        
            justify-self: #{$justifySelf};
        }
    }

    @if $enableVariables {
        .justify-self {
            @if $device == "" and $orientation == "" {
                justify-self: var(--justify-self);
            } @else {
                justify-self: var(--#{$device}#{$orientation}justify-self, var(--justify-self));
            }
        }
    }
}