@mixin justify-content($type, $orientation) {
    /* justify content */
    @each $alias, $justifyContent in (
        "around": "space-around",
        "between": "space-between",
        "center": "center",
        "end": "end",
        "evenly": "space-evenly",
        "start": "start",
        "stretch": "stretch"
    ) {
        .#{$type}#{$orientation}justify-content--#{$alias} {
            justify-content: #{$justifyContent};
        }
    }
}