@mixin justify-content($type, $orientation) {
    /* justify content */
    @each $justifyContent in (
        "space-around",
        "space-between",
        "center",
        "end",
        "space-evenly",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}justify-content--#{$justifyContent} {
            justify-content: #{$justifyContent};
        }
    }
}