@mixin justify-items($type, $orientation) {
    /* justify items */
    @each $justifyItems in (
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}justify-items--#{$justifyItems} {
            justify-items: #{$justifyItems};
        }
    }
}