@mixin rotate($type, $orientation, $enableVariables) {
    /* rotate */

    @if $enableVariables {
        .rotate {
            rotate: var(--#{$type}#{$orientation}rotate, var(--rotate));
        }
    }
}