@mixin transform($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* transform */

    @if $enableVariables {
        .transform {
            transform: var(--#{$type}#{$orientation}transform, var(--transform));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --transform: initial;
                }
            }
        }
    }
}