@use "transform" as transform;

@mixin transform($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include transform.transform($type, $orientation, $enableVariables, $enableVariablesReset);
}