@mixin \[theme\] () {
    [theme] {
        position: var(--position);
        box-sizing: var(--box-sizing);
        background-color: var(--background-color);
        color: var(--color);
        word-break: var(--word-break);
        tab-size: var(--tab-size);
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
        text-underline-offset: var(--text-underline-offset);
    }
}