@mixin \[theme\] () {
    [theme] {
        background-color: var(--_\[theme\]-background-color);
        color: var(--_\[theme\]-color);
        word-break: var(--_\[theme\]-word-break);
        tab-size: var(--_\[theme\]-tab-size);
        font-family: var(--_\[theme\]-font-family);
        font-size: var(--_\[theme\]-font-size);
        font-weight: var(--_\[theme\]-font-weight);
        line-height: var(--_\[theme\]-line-height);
        text-underline-offset: var(--_\[theme\]-text-underline-offset);
    }
}