@mixin e-badge() {
    e-badge,
    .element--badge {
        position: var(--position);
        display: var(--display);
        grid-auto-flow: var(--grid-auto-flow);
        grid-gap: var(--grid-gap);
        justify-content: var(--justify-content);
        align-items: var(--align-items);
        vertical-align: var(--vertical-align);
        min-width: var(--min-width);
        min-height: var(--min-height);
        margin: var(--margin);
        padding:
            var(--padding-block)
            var(--padding-inline);
        border: var(--border);
        border-radius: var(--border-radius);
        outline: var(--outline-width) var(--outline-style) var(--outline-color);
        outline-offset: var(--outline-offset);
        overflow: var(--overflow);
        font-size: var(--font-size);
        font-family: var(--font-family);
        line-height: var(--line-height);
        text-align: var(--text-align);
        text-decoration-line: var(--text-decoration-line);
        white-space: var(--white-space);
        color: var(--color);
        background-color: var(--background-color);
        background-clip: var(--background-clip);
        transition: var(--transition);
        cursor: var(--cursor);
        appearance: var(--appearance);
        user-select: var(--user-select);
        pointer-events: var(--pointer-events);
    }
}
