@mixin e-group() {
    e-group,
    .element--group {
        display: var(--display);

        > * {
            border-radius:
                var(--border-start-start-radius, var(--border-radius))
                var(--border-start-end-radius, var(--border-radius))
                var(--border-end-end-radius, var(--border-radius))
                var(--border-end-start-radius, var(--border-radius));
        }

        > :is(button, input, select) {
        //     &:not(:last-child) { // экономим на перерисовке layout
            // &:not(:first-child) {
                &:hover:not(:disabled),
                &:active:not(:disabled),
                &:focus-visible:not(:hover) {
                    z-index: 1;
                }
            // }
        }
    }
}