@mixin e-icon() {
    e-icon,
    .element--icon {
        display: var(--display);
        vertical-align: var(--vertical-align);
        align-self: var(--align-self);
        inline-size: var(--inline-size);
        block-size: var(--block-size);
        background-color: var(--background-color);
        mask-image: var(--mask-image);
        mask-repeat: var(--mask-repeat);
        mask-position: var(--mask-position);
        mask-origin: var(--mask-origin);
        mask-size: var(--mask-size);
    }
}
