@mixin e-message() {
    e-message,
    .element--message {
        position: var(--position);
        display: var(--display);
        gap: var(--gap);
        margin-block: var(--margin-block);
        margin-inline: var(--margin-inline);
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        border-radius: var(--border-radius);
        background-color: var(--background-color);
        background-image: var(--background-image);
        > header {
            font-weight: var(--font-weight);
            color: var(--color);
            padding-block: var(--padding-block);
            padding-inline: var(--padding-inline);
            border-radius: var(--border-radius);
        }
        > e-body,
        > .element--body {
            display: var(--display);
            padding-block: var(--padding-block);
            padding-inline: var(--padding-inline);
            border-radius: var(--border-radius);
            background-color: var(--background-color);
            color: var(--color);
        }
        > footer {
            display: var(--display);
            gap: var(--gap);
            padding-block: var(--padding-block);
            padding-inline: var(--padding-inline);
            border-radius: var(--border-radius);
        }
        > header,
        > e-body,
        > .element--body,
        > footer {
            &:first-child:not(:last-child) {
                border-end-start-radius: var(--border-end-start-radius);
                border-end-end-radius: var(--border-end-end-radius);
            }
            &:last-child:not(:first-child) {
                border-start-start-radius: var(--border-start-start-radius);
                border-start-end-radius: var(--border-start-end-radius);
            }
            &:not(:first-child, :last-child) {
                border-radius: var(--border-radius);
            }
        }
    }
}
