@mixin e-popover() {
    e-popover,
    .element--popover {
        position: var(--position);
        display: var(--display);
        &[position] {
            > e-body,
            > .element--body {
                position: var(--position);
                z-index: var(--z-index);
                left: var(--left, initial);
                top: var(--top, initial);
                right: var(--right, initial);
                bottom: var(--bottom, initial);
                width: var(--width);
                padding-top: var(--padding-top, initial);
                padding-right: var(--padding-right, initial);
                padding-bottom: var(--padding-bottom, initial);
                padding-left: var(--padding-left, initial);
                font-size: var(--font-size);
                transform: var(--transform, initial);
                transition: all var(--transition-duration) var(--transition-timing-function);
                opacity: var(--opacity);
                visibility: var(--visibility);
                pointer-events: var(--pointer-events);
            }
            > :not(e-body, .element--body)::after {
                content: var(--content);
                position: var(--position);
                left: var(--left, initial);
                top: var(--top, initial);
                right: var(--right, initial);
                bottom: var(--bottom, initial);
                width: var(--width, initial);
                height: var(--height, initial);
                border-radius: var(--border-radius);
                background-color: var(--background-color);
            }
        }
    }
}
