@mixin e-popover() {
    e-popover,
    .element--popover {
        position: var(--position);
        display: var(--display);
        &[position] {
            > e-body,
            > .element--body {
                position: var(--position);
                z-index: var(--z-index);
                inset-inline-start: var(--inset-inline-start, initial);
                inset-block-start: var(--inset-block-start, initial);
                inset-inline-end: var(--inset-inline-end, initial);
                inset-block-end: var(--inset-block-end, initial);
                inline-size: var(--inline-size);
                padding-block-start: var(--padding-block-start, initial);
                padding-inline-end: var(--padding-inline-end, initial);
                padding-block-end: var(--padding-block-end, initial);
                padding-inline-start: var(--padding-inline-start, initial);
                font-size: var(--font-size);
                transform: var(--transform, initial);
                transition: all var(--transition-duration) var(--transition-timing-function);
                opacity: var(--opacity);
                visibility: var(--visibility);
                pointer-events: var(--pointer-events);
            }
            > :not(e-body, .element--body)::after {
                content: var(--content);
                position: var(--position);
                inset-inline-start: var(--inset-inline-start, initial);
                inset-block-start: var(--inset-block-start, initial);
                inset-inline-end: var(--inset-inline-end, initial);
                inset-block-end: var(--inset-block-end, initial);
                inline-size: var(--inline-size, initial);
                block-size: var(--block-size, initial);
                border-radius: var(--border-radius);
                background-color: var(--background-color);
            }
        }
    }
}
