icon {
    display: var(--icon_display);
    min-width: var(--icon_min-width);
    min-height: var(--icon_min-height);
    vertical-align: var(--icon_vertical-align);
    background-color: var(--icon_background-color);
    mask: var(--icon_mask);
}