@mixin icon() {
    icon {
        display: var(--display);
        width: var(--width);
        height: var(--height);
        vertical-align: var(--vertical-align);
        background-color: var(--background-color);
        mask: var(--mask);
    }
}