// preset: background color

@each $color in $defaultColors {
    .#{$type}#{$orientation}background-color {
        &--#{$color} {
        // &--#{$color}\:hover:hover {
            background-color: var(--#{$color})
        }
        @for $i from 1 through $xtraColorInterval {
            &--#{$color}--0#{$i} {
            // &--#{$color}-#{$i * $xtraColorInterval}\:hover:hover {
                background-color: var(--#{$color}-0#{$i})
            }
        }
        &--#{$color}-m {
        // &--#{$color}-m\:hover:hover {
            background-color: var(--#{$color}-m)
        }
    }
}

@each $color in $accentColors {
    .#{$type}#{$orientation}background-color {
        &--#{$color} {
        // &--#{$color}\:hover:hover {
            background-color: var(--#{$color})
        }
        @each $pref in $accentExtraColorsPrefs {
            &--#{$color}-#{$pref} {
            // &--#{$color}-#{$pref}\:hover:hover {
                background-color: var(--#{$color}-#{$pref})
            }
        }
    }
}
