@mixin background-color(
    $type,
    $orientation,
    $defaultColors,
    $accentColors,
    $xtraColorInterval,
    $accentColorsPostfixes
) {

    // preset: background color
    
    @each $color in $defaultColors {
        .#{$type}#{$orientation}background-color {
            &--#{$color},
            &--#{$color}\:hover:hover {
                background-color: var(--#{$color});
            }
            @for $i from 1 through $xtraColorInterval {
                &--#{$color}--0#{$i},
                &--#{$color}--0#{$i}\:hover:hover {
                    background-color: var(--#{$color}--0#{$i});
                }
            }
            &--#{$color}--mute,
            &--#{$color}--mute\:hover:hover {
                background-color: var(--#{$color}--mute);
            }
        }
    }
    
    @each $color in $accentColors {
        .#{$type}#{$orientation}background-color {
            &--#{$color},
            &--#{$color}\:hover:hover {
                background-color: var(--#{$color});
            }
            @each $postfix in $accentColorsPostfixes {
                &--#{$color}--#{$postfix},
                &--#{$color}--#{$postfix}\:hover:hover {
                    background-color: var(--#{$color}--#{$postfix});
                }
            }
        }
    }
}
