@mixin e-icon() {
    e-icon,
    .element--icon {
        --display: inline-block;
        --vertical-align: middle;
        --align-self: center;
        --width: 1em;
        --height: 1em;
        --background-color: currentColor;
        --mask-image: var(--image);
        --mask-repeat: no-repeat;
        --mask-position: center;
        --mask-origin: content-box;
        --mask-size: 120%;
    }
}
