@mixin overflow($device, $orientation, $enableVariables) {
    /* overflow */
    @each $overflow in (
        "auto",
        "hidden",
        "visible",
        "scroll",
        "clip"
    ) {
        .#{$device}#{$orientation}overflow--#{$overflow} {
            overflow: #{$overflow};
        }
        @each $axis in ( "x", "y" ) {
            .#{$device}#{$orientation}overflow-#{$axis}--#{$overflow} {
                overflow-#{$axis}: #{$overflow};
            }
        }
    }

    @if $enableVariables {
        .overflow {
            @if $device == "" and $orientation == "" {
                overflow: var(--overflow);
            } @else {
                overflow: var(--#{$device}#{$orientation}overflow, var(--overflow));
            }
        }
    }
}