@mixin overflow($type, $orientation) {
    /* overflow */
    @each $overflow in (
        "auto",
        "hidden",
        "visible",
        "scroll",
        "clip"
    ) {
        .#{$type}#{$orientation}overflow--#{$overflow} {
            overflow: #{$overflow};
        }
        @each $axis in ( "x", "y" ) {
            .#{$type}#{$orientation}overflow-#{$axis}--#{$overflow} {
                overflow-#{$axis}: #{$overflow};
            }
        }
    }
}