@mixin overflow-wrap($type, $orientation) {
    /* overflow wrap */
    @each $overflowWrap in (
        "normal",
        "break-word",
        "anywhere"
    ) {
        .#{$type}#{$orientation}overflow-wrap--#{$overflowWrap} {
            overflow-wrap: #{$overflowWrap};
        }
    }
}