@mixin overflow-wrap($type, $orientation, $enableVariables) {
    /* overflow wrap */
    @each $overflowWrap in (
        "normal",
        "break-word",
        "anywhere"
    ) {
        .#{$type}#{$orientation}overflow-wrap--#{$overflowWrap} {
            overflow-wrap: #{$overflowWrap};
        }
    }

    @if $enableVariables {
        .overflow-wrap {
            @if $type == "" and $orientation == "" {
                overflow-wrap: var(--overflow-wrap);
            } @else {
                overflow-wrap: var(--#{$type}#{$orientation}overflow-wrap, var(--overflow-wrap));
            }
        }
    }
}