@mixin \[theme\] (
    $position: relative,
    $box-sizing: border-box,
    $background-color: var(--positive),
    $color: var(--negative--dark),
    $word-break: normal,
    $tab-size: 4,
    $font-size: var(--font-size--md),
    $font-weight: normal,
    $line-height: initial,
    $font-family: '',
    $text-underline-offset: var(--size--025),
    $overscroll-behavior: none
) {
    :scope {
        --position: #{$position};
        --box-sizing: #{$box-sizing};
        --background-color: #{$background-color};
        --color: #{$color};
        --word-break: #{$word-break};
        --tab-size: #{$tab-size};
        --font-size: #{$font-size};
        --font-weight: #{$font-weight};
        --line-height: #{$line-height};
        --font-family: #{$font-family} -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        --text-underline-offset: #{$text-underline-offset};
        --overscroll-behavior: #{$overscroll-behavior};
    }
}