@mixin icon (
    $display: inline-block,
    $min-width: calc(var(--size--6) * 1em),
    $min-height: calc(var(--size--6) * 1em),
    $vertical-align: middle,
    $background-color: currentColor,
    $mask: var(--icon-image) no-repeat center content-box
) {
    icon {
        --display: #{$display};
        --min-width: #{$min-width};
        --min-height: #{$min-height};
        --vertical-align: #{$vertical-align};
        --background-color: #{$background-color};
        --mask: #{$mask};
    }
}