@mixin icon (
    $display: inline-block,
    $width: 2ch,
    $height: 1lh,
    $vertical-align: bottom,
    $background-color: currentColor,
    $mask: var(--icon-image) no-repeat center content-box
) {
    icon {
        --display: #{$display};
        --width: #{$width};
        --height: #{$height};
        --vertical-align: #{$vertical-align};
        --background-color: #{$background-color};
        --mask: #{$mask};
    }
}