@mixin indent($type, $orientation, $spacingSizes) {
    // preset: margin & padding
    @each $spacingName in (
        "margin",
        "padding"
    ) {
        .#{$type}#{$orientation}#{$spacingName} {
            @each $space in $spacingSizes {
                &--#{$space} {
                    #{$spacingName}: var(--#{$spacingName}--#{$space});
                }
            }
            @each $space in $spacingSizes {
                &-block--#{$space} {
                    #{$spacingName}-block: var(--#{$spacingName}--#{$space});
                }
                &-inline--#{$space} {
                    #{$spacingName}-inline: var(--#{$spacingName}--#{$space});
                }
            }
            @each $space in $spacingSizes {
                &-top--#{$space} {
                    #{$spacingName}-top: var(--#{$spacingName}--#{$space});
                }
                &-right--#{$space} {
                    #{$spacingName}-right: var(--#{$spacingName}--#{$space});
                }
                &-bottom--#{$space} {
                    #{$spacingName}-bottom: var(--#{$spacingName}--#{$space});
                }
                &-left--#{$space} {
                    #{$spacingName}-left: var(--#{$spacingName}--#{$space});
                }
            }
        }
    }
}