@use "../_assets/_xtra/_themes/theme-light" as light;
@use "../_assets/_xtra/_themes/theme-dark" as dark;

@layer themes {
    @scope ([theme=light]) {
        @include light.theme(
            $hover-active: false,
            $h_font-size--delta: 1.05
        );
    }
    @scope ([theme=dark]) {
        @include dark.theme(
            $hover-active: false,
            $h_font-size--delta: 1.05
        );
    }
}