@mixin display($device, $orientation, $enableVariables) {
    /* display */
    @each $display in (
        "inline",
        "block",
        "flow-root",
        "flex",
        "grid",
        "inline-block",
        "inline-flex",
        "inline-grid",
        "contents"
    ) {
        .#{$device}#{$orientation}display--#{$display} {
            display: #{$display};
        }
    }
    .#{$device}#{$orientation}display--none {
    // .#{$device}#{$orientation}display--none\:empty:empty,
    // .#{$device}#{$orientation}display--none\:\:before::before,
    // .#{$device}#{$orientation}display--none\:\:after::after {
        display: none;
    }

    @if $enableVariables {
        .display {
            @if $device == "" and $orientation == "" {
                display: var(--display);
            } @else {
                display: var(--#{$device}#{$orientation}display, var(--display));
            }
        }
    }
}