/* preset: grid column */

@for $i from 1 through $gridSize {
    .#{$type}#{$orientation}grid-column--span-#{$i} {
        grid-column: span $i / span $i !important;
    }
}
.#{$type}#{$orientation}grid-column--full {
    grid-column: 1 / -1 !important;
}

@for $i from 1 through $gridSize {
    .#{$type}#{$orientation}grid-column-start--#{$i} {
        grid-column-start: $i !important;
    }
    .#{$type}#{$orientation}grid-column-end--#{$i} {
        grid-column-end: $i !important;
    }
}