// object-fit--cover
// object-position--center

@each $fit in (
    contain,
    cover,
    fill,
    none
) {
    .object-fit--#{$fit} {
        object-fit: #{$fit};
    }    
}

@each $position in (
    top,
    bottom,
    left,
    right,
    center
) {
    .object-position--#{$position} {
        object-position: #{$position};
    }    
}

@if $enableVariables {
    .object-position {
        object-position: var(--#{$type}#{$orientation}object-position, var(--object-position, auto));
    }
}
