@mixin object-position($type, $orientation, $enableVariables) {
    /* object position */
    @each $objectPosition in (
        "top",
        "bottom",
        "left",
        "right",
        "center"
    ) {
        .#{$type}#{$orientation}object-position--#{$objectPosition} {
            object-position: #{$objectPosition};
        }    
    }
    
    @if $enableVariables {
        .object-position {
            @if $type == "" and $orientation == "" {
                object-position: var(--object-position);
            } @else {
                object-position: var(--#{$type}#{$orientation}object-position, var(--object-position));
            }
        }
    }
}
