@mixin object-fit($device, $orientation, $enableVariables) {
    /* object fit */
    @each $objectFit in (
        "contain",
        "cover",
        "fill",
        "none"
    ) {
        .#{$device}#{$orientation}object-fit--#{$objectFit} {
            object-fit: #{$objectFit};
        }    
    }

    @if $enableVariables {
        .object-fit {
            @if $device == "" and $orientation == "" {
                object-fit: var(--object-fit);
            } @else {
                object-fit: var(--#{$device}#{$orientation}object-fit, var(--object-fit));
            }
        }
    }
}
