@mixin object-fit($type, $orientation) {
    /* object fit */
    @each $objectFit in (
        "contain",
        "cover",
        "fill",
        "none"
    ) {
        .object-fit--#{$objectFit} {
            object-fit: #{$objectFit};
        }    
    }
}
