@mixin object-position($type, $orientation, $enableVariables) {
    /* object position */
    @each $objectPosition in (
        "top",
        "bottom",
        "left",
        "right",
        "center"
    ) {
        .object-position--#{$objectPosition} {
            object-position: #{$objectPosition};
        }    
    }
    
    @if $enableVariables {
        .object-position {
            object-position: var(--#{$type}#{$orientation}object-position, var(--object-position));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}object-position: initial;
            }
        }
    }
}
