@use "object-fit" as *;
@use "object-position" as *;

@mixin object($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include object-fit($type, $orientation);
    @include object-position($type, $orientation, $enableVariables, $enableVariablesReset);
}