@mixin border-style($device, $orientation, $enableVariables, $borderSides) {
    /* border style */
    $borderStyle:(
        "dotted",
        "dashed",
        "solid",
        "none"
    );
    @each $alias in $borderStyle {
        .#{$device}#{$orientation}border-style--#{$alias} {
            border-style: #{$alias};
            // @if $alias != none {
            //     border-width: var(--border-width--min);
            // }
        }
    }
    @each $alias in $borderStyle {
        @each $side in $borderSides {
            .#{$device}#{$orientation}border-#{$side}-style--#{$alias} {
                border-#{$side}-style: #{$alias};
                // @if $alias != none {
                //     border-width: var(--border-width--min);
                // }
            }
        }
    }
    
    @if $enableVariables {
        .border-style {
            @if $device == "" and $orientation == "" {
                border-style: var(--border-style);
            } @else {
                border-style: var(--#{$device}#{$orientation}border-style, var(--border-style));
            }
        }
        @each $side in $borderSides {
            .border-#{$side}-style {
                @if $device == "" and $orientation == "" {
                    border-#{$side}-style: var(--border-#{$side}-style);
                } @else {
                    border-#{$side}-style: var(--#{$device}#{$orientation}border-#{$side}-style, var(--border-#{$side}-style));
                }
            }
        }
    }
}
