@mixin border-radius($type, $orientation, $enableVariables) {
    /* border radius */
    $borderRadiusCorner:(
        "start-start",
        "start-end",
        "end-end",
        "end-start"
    );
    $borderRadiusXtraSize:(
        unset: "unset",
    );
    
    .#{$type}#{$orientation}border-radius {
        @each $name, $xtraSize in $borderRadiusXtraSize {
            &--#{$name} {
                border-radius: #{$xtraSize};
            }
        }
    }
    
    @each $corner in $borderRadiusCorner {
        .#{$type}#{$orientation}border-#{$corner}-radius {
            @each $name, $xtraSize in $borderRadiusXtraSize {
                &--#{$name} {
                    border-#{$corner}-radius: #{$xtraSize};
                }
            }
        }
    }
    
    @if $enableVariables {
        @each $corner in $borderRadiusCorner {
            .border-radius,
            .border-#{$corner}-radius {
                border-#{$corner}-radius: var(--#{$type}#{$orientation}border-radius, var(--border-radius));
            }
        }
    }
}