@mixin border-spacing($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* border spacing */
    
    @if $enableVariables {
        .border-spacing {
            border-spacing: var(--#{$type}#{$orientation}border-spacing, var(--border-spacing));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --border-spacing: initial;
                }
            }
        }
    }
}