@mixin border-color($type, $orientation, $enableVariables, $borderSides) {
    /* border-color */
    .#{$type}#{$orientation}border-color {
        &--transparent,
        &--transparent\:hover:hover {
            border-color: #{transparent};
        }
    }

    @if $enableVariables {
        .border-color {
            border-color: var(--#{$type}#{$orientation}border-color, var(--border-color));
        }
        .border-color\:hover:hover {
            border-color: var(--#{$type}#{$orientation}border-color\:hover, var(--border-color\:hover));
        }
        @each $side in $borderSides {
            .border-#{$side}-color {
                border-#{$side}-color: var(--#{$type}#{$orientation}border-#{$side}-color, var(--border-#{$side}-color));
            }
            .border-#{$side}-color\:hover:hover {
                border-#{$side}-color: var(--#{$type}#{$orientation}border-#{$side}-color\:hover, var(--border-#{$side}-color\:hover));
            }
        }
    }
}