@mixin border-color($type, $orientation, $enableVariables, $enableVariablesReset, $borderSides) {
    /* border-color */
    .#{$type}#{$orientation}border-color {
        &--transparent,
        &--transparent\:hover:hover {
            border-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        @each $side in $borderSides {
            .border,
            .border-color,
            .border-#{$side},
            .border-#{$side}-color {
                border-#{$side}-color: var(--#{$type}#{$orientation}border-color, var(--border-color));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --border-color: initial;
                    }
                }
            }
        }
    }
}