@mixin border-collapse($type, $orientation) {
    /* border collapse */
    @each $borderCollapse in (
        "collapse",
        "separate"
    ) {
        .border--#{$borderCollapse} {
            border-collapse: #{$borderCollapse};
        }
    }
}