@mixin border-width($type, $orientation, $enableVariables, $borderSides) {
    /* border width */
    @each $width in (
        "thin",
        "medium",
        "thick"
    ) {
        .#{$type}#{$orientation}border-width--#{$width} {
            // --border-width: var(--border-width--#{$width}, #{$width});
            // border-width: var(--border-width);
            border-width: var(--border-width--#{$width}, #{$width});
        }
        // @each $side in $borderSides {
        //     .#{$type}#{$orientation}border-#{$side}-width--#{$width} {
        //         border-#{$side}-width: var(--border-width--#{$width}, #{$width});
        //     }
        // }
    }
    
    @if $enableVariables {
        .border-width {
            border-width: var(--#{$type}#{$orientation}border-width, var(--border-width));
        }
        @each $side in $borderSides {
            .border-#{$side}-width {
                border-#{$side}-width: var(--#{$type}#{$orientation}border-#{$side}-width, var(--border-#{$side}-width));
            }
        }
    }
}