@mixin border-spacing($type, $orientation, $enableVariables) {
    /* border spacing */
    
    @if $enableVariables {
        .border-spacing {
            border-spacing: var(--#{$type}#{$orientation}border-spacing, var(--border-spacing));
        }
    }
}