@mixin border-width($device, $orientation, $enableVariables, $borderSides) {
    /* border width */
    @each $width in (
        "thin",
        "medium",
        "thick"
    ) {
        .#{$device}#{$orientation}border-width--#{$width} {
            // --border-width: var(--border-width--#{$width}, #{$width});
            // border-width: var(--border-width);
            border-width: var(--border-width--#{$width}, #{$width});
        }
        // @each $side in $borderSides {
        //     .#{$device}#{$orientation}border-#{$side}-width--#{$width} {
        //         border-#{$side}-width: var(--border-width--#{$width}, #{$width});
        //     }
        // }
    }
    
    @if $enableVariables {
        .border-width {
            @if $device == "" and $orientation == "" {
                border-width: var(--border-width);
            } @else {
                border-width: var(--#{$device}#{$orientation}border-width, var(--border-width));
            }
        }
        @each $side in $borderSides {
            .border-#{$side}-width {
                @if $device == "" and $orientation == "" {
                    border-#{$side}-width: var(--border-#{$side}-width);
                } @else {
                    border-#{$side}-width: var(--#{$device}#{$orientation}border-#{$side}-width, var(--border-#{$side}-width));
                }
            }
        }
    }
}