@mixin border-style($type, $orientation, $enableVariables, $borderSides) {
    /* border style */
    $borderStyle:(
        "dotted",
        "dashed",
        "solid",
        "none"
    );
    @each $alias in $borderStyle {
        .#{$type}#{$orientation}border-style--#{$alias} {
            border-style: #{$alias};
            // @if $alias != none {
            //     border-width: var(--border-width--min);
            // }
        }
    }
    @each $alias in $borderStyle {
        @each $side in $borderSides {
            .#{$type}#{$orientation}border-#{$side}-style--#{$alias} {
                border-#{$side}-style: #{$alias};
                // @if $alias != none {
                //     border-width: var(--border-width--min);
                // }
            }
        }
    }
    
    @if $enableVariables {
        .border-style {
            border-style: var(--#{$type}#{$orientation}border-style, var(--border-style));
        }
        @each $side in $borderSides {
            .border-#{$side}-style {
                border-#{$side}-style: var(--#{$type}#{$orientation}border-#{$side}-style, var(--border-#{$side}-style));
            }
        }
    }
}
