@mixin border-radius($device, $orientation, $enableVariables) {
    /* border radius */
    $borderRadiusCorner:(
        "start-start",
        "start-end",
        "end-end",
        "end-start"
    );
    $borderRadiusXtraSize:(
        unset: "unset",
    );
    
    .#{$device}#{$orientation}border-radius {
        @each $name, $xtraSize in $borderRadiusXtraSize {
            &--#{$name} {
                border-radius: #{$xtraSize};
            }
        }
    }
    
    @each $corner in $borderRadiusCorner {
        .#{$device}#{$orientation}border-#{$corner}-radius {
            @each $name, $xtraSize in $borderRadiusXtraSize {
                &--#{$name} {
                    border-#{$corner}-radius: #{$xtraSize};
                }
            }
        }
    }
    
    @if $enableVariables {
        .border-radius {
            @if $device == "" and $orientation == "" {
                border-radius: var(--border-radius);
            } @else {
                border-radius: var(--#{$device}#{$orientation}border-radius, var(--border-radius));
            }
        }
        @each $corner in $borderRadiusCorner {
            // .border-radius,
            // .border-#{$corner}-radius {
            //     border-#{$corner}-radius: var(--#{$device}#{$orientation}border-radius, var(--border-radius));
            // }
            .border-#{$corner}-radius {
                @if $device == "" and $orientation == "" {
                    border-#{$corner}-radius: var(--border-#{$corner}-radius);
                } @else {
                    border-#{$corner}-radius: var(--#{$device}#{$orientation}border-#{$corner}-radius, var(--border-#{$corner}-radius));
                }
            }
        }
    }
}