@mixin placement($type, $orientation, $enableVariables) {
    /* placement */
    
    @each $placement in (
        "left",
        "top",
        "right",
        "bottom",
        "inset"
    ) {
        @if $enableVariables {
            .#{$placement} {
                #{$placement}: var(--#{$type}#{$orientation}#{$placement}, var(--#{$placement}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}#{$placement}: initial;
                }
            }
        }
    }
}