@mixin placement($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* placement */
    
    @each $placement in (
        "left",
        "top",
        "right",
        "bottom",
        "inset"
    ) {
        @if $enableVariables {
            .#{$placement} {
                #{$placement}: var(--#{$type}#{$orientation}#{$placement}, var(--#{$placement}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --#{$placement}: initial;
                    }
                }
            }
        }
    }
}