@use "placement" as placement;

@mixin placement($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include placement.placement($type, $orientation, $enableVariables, $enableVariablesReset);
}