@use "_default/~" as *;

@mixin theme(
    $hover-active: true,
    $h_font-size--delta: 1.25
) {
    :scope {
        /* global */
        @include sizes;
        @include base-colors("white", 1, 0, 0);
        @include base-colors("black", 0, 0, 0);
        @include accent-colors("positive", .18, .05, .012, 254, .35);
        @include accent-colors("negative", .82, .05, .012, 254, .35);
        @include accent-colors("prime", .40, .05, .2, 240, .35);
        @include accent-colors("second", .40, .05, .02, 240, .35);
        @include accent-colors("success", .40, .05, .2, 145, .35);
        @include accent-colors("danger", .40, .05, .2, 25, .35);
    
        /* properties*/
        @include font-size;
        @include margin;
        @include padding;
        @include gap;
        @include border-width;
        @include border-radius;
        @include box-shadow;
    }
    /* elements */
    // mutated
    @include \*;
    @include \*\:\:before;
    @include \*\:\:after;
    @include \*\[inert\];
    
    @include a;
    @include ruleset(
        "a", "", "",
        (
            --color: var(--negative),
            --text-decoration-color: var(--negative--light)
        )
    );
    @if ($hover-active) {
        @include ruleset(
            "a", ":hover", "",
            (
                --color: var(--negative--light),
                --text-decoration-color: var(--negative--light)
            )
        );
    }
    @include ruleset(
        "a", ":visited", "",
        (
            --color: var(--negative--dark),
            --text-decoration-color: var(--negative--dark)
        )
    );
    
    @include body;
    
    @include button;
    @include ruleset(
        "button", "", "",
        (
            --background-color: var(--positive),
        )
    );
    @if ($hover-active) {
        @include ruleset(
            "button", ":hover", "",
            (
                --background-color: var(--positive--light)
            )
        );
    }
    @include ruleset(
        "button", ":active:not(:focus-visible)", "",
        (
            --background-color: var(--positive--dark),
            --outline-color: var(--negative--mute),
            --outline-offset: var(--size--0)
        )
    );
    @include ruleset(
        "button", ":focus-visible:not(:active)", "",
        (
            --background-color: var(--positive),
            --outline-color: var(--negative--mute),
            --outline-offset: var(--size--05)
        )
    );
    @include ruleset(
        "button", ":disabled", "",
        (
            --background-color: var(--positive--mute),
            --color: var(--negative--mute),
            --cursor: not-allowed
        )
    );
    @each $color in (
        "prime",
        "second",
        "success",
        "danger"
    ) {
        @include ruleset(
            "button", "", ".#{$color}",
            (
                --background-color: var(--#{$color})
            )
        );
        @include ruleset(
            "button", ":hover", ".#{$color}",
            (
                --background-color: var(--#{$color}--light)
            )
        );
        @include ruleset(
            "button", ":active:not(:focus-visible)", ".#{$color}",
            (
                --background-color: var(--#{$color}--dark),
                --outline-color: var(--#{$color}--mute),
                --outline-offset: var(--size--0)
            )
        );
        @include ruleset(
            "button", ":focus-visible:not(:active)", ".#{$color}",
            (
                --background-color: var(--#{$color}),
                --outline-color: var(--#{$color}--mute),
                --outline-offset: var(--size--05)
            )
        );
        @include ruleset(
            "button", ":disabled", ".#{$color}",
            (
                --background-color: var(--#{$color}--mute),
                --color: var(--negative--mute),
                --cursor: not-allowed
            )
        );
    }
    @include ruleset(
        "button", ":has(icon)>icon", "",
        (
            --width: 1lh
        )
    );
    
    @include h($aria-level: 1, $font-size--delta: $h_font-size--delta, $margin: unset unset var(--margin--s2) unset);
    @include h($aria-level: 2, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 3, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 4, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 5, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 6, $font-size--delta: $h_font-size--delta);

    @include hr($background-color: var(--negative--mute));
    
    @include sub;
    @include sup;
    @include table;
    @include tbody;
    
    // created
    @include \[theme\];
    @include icon;
}