@use "_default/~" as *;
@use "_theme-dark/~" as *;

@mixin theme(
    $hover-active: true,
    $h_font-size--delta: 1.25
) {
    :scope {
        /* global */
        @include sizes;
        @include base-colors("white", 1, 0, 0);
        @include base-colors("black", 0, 0, 0);
        $dark-key: .18;
        @include accent-colors("positive", $dark-key, .1, .012, 254, .35);
        @include accent-colors("negative", 1 - $dark-key, .1, .012, 254, .35);
        @include accent-colors("prime", calc($dark-key * 4), .1, $dark-key, 240, .35);
        @include accent-colors("second", calc($dark-key * 4), .1, calc($dark-key / 3), 240, .35);
        @include accent-colors("success", calc($dark-key * 4), .1, $dark-key, 145, .35);
        @include accent-colors("danger", calc($dark-key * 4), .1, $dark-key, 25, .35);

        /* properties*/
        @include font-size;
        @include margin;
        @include padding;
        @include gap;
        @include border-width;
        @include border-radius;
        @include box-shadow;
    }
    
    /* elements */
    // created
    @include \[theme\]();
    @include icon;

    // mutated
    @include \*();
    @include \[inert\];
    @include a($hover-active);
    @include abbr();
    @include body();
    @include button($hover-active);
    @include h($aria-level: 1, $font-size--delta: $h_font-size--delta, $margin: unset unset var(--margin--s2) unset);
    @include h($aria-level: 2, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 3, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 4, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 5, $font-size--delta: $h_font-size--delta);
    @include h($aria-level: 6, $font-size--delta: $h_font-size--delta);
    @include hr();
    @include sub;
    @include sup;
    @include table;
}