@mixin box-shadow($type, $orientation, $enableVariables) {
    /* box shadow */
    .#{$type}#{$orientation}box-shadow {
        &--unset,
        &--unset\:hover:hover {
            box-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .box-shadow {
            box-shadow: var(--#{$type}#{$orientation}box-shadow, var(--box-shadow));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}box-shadow: initial;
            }
        }
        @each $pseudoClass in (
            "hover"
        ) {
            .box-shadow\:#{$pseudoClass}:#{$pseudoClass} {
                box-shadow: var(--#{$type}#{$orientation}box-shadow\:#{$pseudoClass}, var(--box-shadow\:#{$pseudoClass}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}box-shadow\:#{$pseudoClass}: initial;
                }
            }
        }
    }
}