@mixin box-shadow($type, $orientation, $enableVariables) {
    /* box shadow */
    .#{$type}#{$orientation}box-shadow {
        &--unset,
        &--unset\:hover:hover {
            box-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .box-shadow {
            @if $type == "" and $orientation == "" {
                box-shadow: var(--box-shadow);
            } @else {
                box-shadow: var(--#{$type}#{$orientation}box-shadow, var(--box-shadow));
            }
        }
        @each $pseudoClass in (
            "hover"
        ) {
            .box-shadow\:#{$pseudoClass}:#{$pseudoClass} {
                @if $type == "" and $orientation == "" {
                    box-shadow: var(--box-shadow\:#{$pseudoClass});
                } @else {
                    box-shadow: var(--#{$type}#{$orientation}box-shadow\:#{$pseudoClass}, var(--box-shadow\:#{$pseudoClass}));
                }
            }
        }
    }
}