@mixin box-shadow($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* box shadow */
    .#{$type}#{$orientation}box-shadow {
        &--unset,
        &--unset\:hover:hover {
            box-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .box-shadow {
            box-shadow: var(--#{$type}#{$orientation}box-shadow, var(--box-shadow));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --box-shadow: initial;
                }
            }
        }
        @each $pseudoClass in (
            "hover"
        ) {
            .box-shadow\:#{$pseudoClass}:#{$pseudoClass} {
                box-shadow: var(--#{$type}#{$orientation}box-shadow\:#{$pseudoClass}, var(--box-shadow\:#{$pseudoClass}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --box-shadow\:#{$pseudoClass}: initial;
                    }
                }
            }
        }
    }
}