@mixin box-shadow($device, $orientation, $enableVariables) {
    /* box shadow */
    .#{$device}#{$orientation}box-shadow {
        &--unset,
        &--unset\:hover:hover {
            box-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .box-shadow {
            @if $device == "" and $orientation == "" {
                box-shadow: var(--box-shadow);
            } @else {
                box-shadow: var(--#{$device}#{$orientation}box-shadow, var(--box-shadow));
            }
        }
        // @each $pseudoClass in (
        //     "hover"
        // ) {
        //     .box-shadow\:#{$pseudoClass}:#{$pseudoClass} {
        //         @if $device == "" and $orientation == "" {
        //             box-shadow: var(--box-shadow\:#{$pseudoClass});
        //         } @else {
        //             box-shadow: var(--#{$device}#{$orientation}box-shadow\:#{$pseudoClass}, var(--box-shadow\:#{$pseudoClass}));
        //         }
        //     }
        // }
    }
}