@mixin text-shadow($type, $orientation, $enableVariables) {
    /* text shadow */
    .#{$type}#{$orientation}text-shadow {
        &--unset {
            text-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .text-shadow {
            text-shadow: var(--#{$type}#{$orientation}text-shadow, var(--text-shadow));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}text-shadow: initial;
            }
        }
    }
}