@mixin text-shadow($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* text shadow */
    .#{$type}#{$orientation}text-shadow {
        &--unset {
            text-shadow: unset;
        }
    }
    
    @if $enableVariables {
        .text-shadow {
            text-shadow: var(--#{$type}#{$orientation}text-shadow, var(--text-shadow));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --text-shadow: initial;
                }
            }
        }
    }
}