@use "box-shadow" as *;
@use "text-shadow" as *;

@mixin shadow($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include box-shadow($type, $orientation, $enableVariables, $enableVariablesReset);
    @include text-shadow($type, $orientation, $enableVariables, $enableVariablesReset);
}