@mixin e-message() {
    e-message,
    .element--message {
        --position: relative;
        --display: inline-grid;
        --gap: var(--gap--s3);
        --margin: var(--margin--md) 0;
        --padding: var(--padding--s3);
        --border-radius: var(--border-radius--s1);
        --background: var(--positive--light) linear-gradient(var(--positive--mute));
        > header {
            --font-weight: 500;
            --color: var(--negative);
            --padding: var(--padding--s3) var(--padding--md);
            --border-radius: var(--border-radius--s2);
        }
        > e-body,
        > .element--body {
            --display: block;
            --padding: var(--padding--md);
            --border-radius: var(--border-radius--s2);
            --background: var(--positive);
        }
        > footer {
            --display: flex;
            --gap: var(--gap--s2);
            --padding: var(--padding--s3);
            --border-radius: var(--border-radius--s2);
        }

        > header,
        > e-body,
        > .element--body,
        > footer {
            &:first-child:not(:last-child) {
                --border-end-start-radius: var(--border-radius--s3);
                --border-end-end-radius: var(--border-radius--s3);
            }
            &:last-child:not(:first-child) {
                --border-start-start-radius: var(--border-radius--s3);
                --border-start-end-radius: var(--border-radius--s3);
            }
            &:not(:first-child, :last-child) {
                --border-radius: var(--border-radius--s3);
            }
        }

        @each $color in (
            "negative",
            "prime",
            "second",
            "success",
            "danger"
        ) {
            &.#{$color} {
                --background: var(--positive--light) linear-gradient(var(--#{$color}--mute));
                > e-body,
                > .element--body {
                    --background: var(--#{$color});
                }

                @if ($color == "negative") {
                    --background: var(--negative--light);
                    > header {
                        --color: var(--positive);
                    }
                    > e-body,
                    > .element--body {
                        --color: var(--positive--light);
                    }
                }
            }
        }
    }
}
