@mixin icon() {
    icon {
        --icon--display: inline-block;
        --icon--width: 2ch;
        --icon--height: 1lh;
        --icon--vertical-align: bottom;
        --icon--background-color: currentColor;
        --icon--mask: var(--icon-image) no-repeat center content-box;
    }
}