* {
    margin: var(--_margin);
    padding: var(--_padding);
    box-sizing: var(--_box-sizing);
}
::before {
    margin: var(--_margin\:\:before);
    padding: var(--_padding\:\:before);
    box-sizing: var(--_box-sizing\:\:before);
}
::after {
    margin: var(--_margin\:\:after);
    padding: var(--_padding\:\:after);
    box-sizing: var(--_box-sizing\:\:after);
}