@mixin a() {
    a {
        border-radius: var(--border-radius);

        color: var(--color);
        text-decoration:
            var(--text-decoration-color)
            var(--text-decoration-line)
            var(--text-decoration-style)
            var(--text-decoration-thickness);
        text-underline-offset: var(--text-underline-offset);
        
        cursor: var(--cursor);
        transition: var(--transition);
        outline:
            var(--outline-color)
            var(--outline-style)
            var(--outline-width);
        outline-offset: var(--outline-offset);
    }
}