@mixin abbr() {
    abbr {
        color: var(--color);
        text-decoration:
            var(--text-decoration-color)
            var(--text-decoration-line)
            var(--text-decoration-style)
            var(--text-decoration-thickness);
        text-underline-offset: var(--text-underline-offset);
        &[title]::after {
            content: var(--content);
            display: var(--display);
            margin-left: var(--margin-left);
            font-size: var(--font-size);
            line-height: var(--line-height);
            vertical-align: var(--vertical-align);
        }
        &[title=""]::after {
            color: var(--color);
        }
    }
}