@mixin blockquote() {
    blockquote {
        position: var(--position);
        display: var(--display);

        gap: var(--gap);
        margin-inline: var(--margin-inline);
        margin-block: var(--margin-block);
        font-size: var(--font-size);
        > * {
            margin-inline: var(--margin-inline);
            margin-block: var(--margin-block);
        }
        &:where([data-content]) {
            padding-inline-start: var(--padding-inline-start);
            &::before {
                content: attr(data-content);

                position: var(--position);
                display: var(--display);
                inset-inline-start: var(--inset-inline-start);
                inset-block-start: var(--inset-block-start);
                inset-block-end: var(--inset-block-end);
                inline-size: var(--inline-size);
                color: var(--color);
                text-align: var(--text-align);
                border-inline-end: var(--border-inline-end);
                line-height: var(--line-height);
            }
            > footer {
                text-align: var(--text-align);
            }
        }
        > footer {
            font-size: var(--font-size);
        }
    }
}