@mixin body() {
    body {
        position: var(--position);
        margin-block: var(--margin-block);
        margin-inline: var(--margin-inline);
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        min-block-size: var(--min-block-size);
    }
}