@mixin body() {
    body {
        position: var(--body--position, var(--position));
        margin: var(--body--margin, var(--margin));
        padding: var(--body--padding, var(--padding));
        min-height: var(--body--height, var(--min-height));
    }
}