@mixin code() {
    code {
        color: var(--color);
        padding: var(--padding);
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        pre > & {
            display: var(--display);
        }
    }
}