@mixin code() {
    code {
        color: var(--color);
        padding-block: var(--padding-block);
        padding-inline: var(--padding-inline);
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        pre > & {
            display: var(--display);
        }
    }
}