@mixin details() {
    details {
        position: var(--position);
        display: var(--display);
        inline-size: var(--inline-size);
        
        border-radius: var(--border-radius);
        background: var(--background);
        background-clip: var(--background-clip);
        outline-offset: var(--outline-offset);
        transition: var(--transition);

        > summary {
            position: var(--position);
            display: var(--display);
            grid-auto-flow: var(--grid-auto-flow);
            gap: var(--gap);
            justify-content: var(--justify-content);
            align-items: var(--align-items);
            margin-block: var(--margin-block);
            margin-inline: var(--margin-inline);
            text-align: var(--text-align);
            appearance: var(--appearance);
            min-inline-size: var(--min-inline-size);
            min-block-size: var(--min-block-size);
            font-size: var(--font-size);
            font-weight: var(--font-weight);
            font-family: var(--font-family);
            line-height: var(--line-height);
            padding-block: var(--padding-block);
            padding-inline: var(--padding-inline);
            border-radius: var(--border-radius);
            border-width: var(--border-width);
            border-style: var(--border-style);
            border-color: var(--border-color);
            color: var(--color);
            background: var(--background);
            background-clip: var(--background-clip);
            cursor: var(--cursor);
            letter-spacing: var(--letter-spacing);
            outline:
                var(--outline-color)
                var(--outline-style)
                var(--outline-width);            
            outline-offset: var(--outline-offset);
            transition: var(--transition);
            user-select: var(--user-select);
            e-close,
            .element--close,
            e-open,
            .element--open {
                display: var(--display);
            }
        }
        > e-body,
        > .element--body {
            display: var(--display);
            margin-block: var(--margin-block);
            margin-inline: var(--margin-inline);
            padding-block: var(--padding-block);
            padding-inline: var(--padding-inline);
            border-radius: var(--border-radius);
            background: var(--background);
        }
    }
}