@mixin dl() {
    dl {
        margin-block: var(--margin-block);
        margin-inline: var(--margin-inline);
        dt {
            margin-block: var(--margin-block);
            margin-inline: var(--margin-inline);
            font-weight: var(--font-weight);
        }
        dd {
            margin-block: var(--margin-block);
            margin-inline: var(--margin-inline);
        }
    }
}