@mixin fieldset() {
    fieldset {
        margin: var(--margin);
        padding: var(--padding);
        border-radius: var(--border-radius);
        border: var(--border);
        background: var(--background);
        pointer-events: var(--pointer-events, initial);
        opacity: var(--opacity, initial);
        > legend {
            margin: var(--margin);
            padding: var(--padding);
            color: var(--color);
            border-radius: var(--border-radius);
            line-height: var(--line-height);
            background: var(--background);
        }
        > :not(legend) {
            font-size: var(--font-size);
        }
    }
}