@mixin h() {
    h1,
    .element--h1,
    h2,
    .element--h2,
    h3,
    .element--h3,
    h4,
    .element--h4,
    h5,
    .element--h5,
    h6,
    .element--h6 {
        margin-block: var(--margin-block);
        margin-inline: var(--margin-inline);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: var(--line-height);
    }
}