@mixin label() {
    label {
        cursor: var(--cursor);

        // <label>
        //   <input type=checkbox || type=radio>
        // </label>
        &:has([type=checkbox], [type=radio]) {
            display: var(--display);
            grid-auto-flow: var(--grid-auto-flow);
            grid-gap: var(--grid-gap);
            align-items: var(--align-items);
            color: var(--color);
            line-height: var(--line-height);
        }
    }
}
