@mixin sub() {
    sub {
        top: var(--sub_top);
        font-size: var(--sub_font-size);
        line-height: var(--sub_line-height);
        position: var(--sub_position);
        vertical-align: var(--sub_vertical-align);
    }
}