@mixin table() {
    table {
        width: var(--width);
        height: var(--height);
        table-layout: var(--table-layout);
        border-collapse: var(--border-collapse);
        border-spacing: var(--border-spacing);
        background-color: var(--background-color);
        color: var(--color);

        caption {
            padding: var(--padding);
            text-align: var(--text-align);
            font-weight: var(--font-weight);
            font-size: var(--font-size);
        }
        :is(thead, tbody, tfoot) {
            position: var(--position);
            background-color: var(--background-color);
            tr {
                :is(th, td) {
                    padding: var(--padding);
                    background-color: var(--background-color);
                    color: var(--color);
                    font-weight: var(--font-weight);
                    &:is(:first-child, :last-child) {
                        border-radius:
                            var(--border-start-start-radius, var(--border-radius))
                            var(--border-start-end-radius, var(--border-radius))
                            var(--border-end-end-radius, var(--border-radius))
                            var(--border-end-start-radius, var(--border-radius));
                    } 
                }
            }
        }

        thead::after,
        tfoot::before {
            content: var(--content);
            position: var(--position);
            width: var(--width);
            border-width: var(--border-width);
            border-block-start-style: var(--border-block-start-style);
            border-block-end-style: var(--border-block-end-style);
            border-color: var(--border-color);
        }
        thead::after {
            inset-block-end: var(--inset-block-end);
        }
        tfoot::before {
            inset-block-start: var(--inset-block-start);
        }
    }
}