@mixin background-color($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* background color */
    .#{$type}#{$orientation}background-color {
        &--transparent,
        &--transparent\:hover:hover {
            background-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        // .background,
        .background-color {
            background-color: var(--#{$type}#{$orientation}background-color, var(--background-color));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --background-color: initial;
                }
            }
        }
        @each $pseudoClass in (
            // "focus",
            // "active",
            "hover",
            // "checked",
            // "enabled",
            // "disabled"
        ) {
            // .background\:#{$pseudoClass}:#{$pseudoClass},
            .background-color\:#{$pseudoClass}:#{$pseudoClass} {
                background-color: var(--#{$type}#{$orientation}background-color\:#{$pseudoClass}, var(--background-color\:#{$pseudoClass}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --background-color\:#{$pseudoClass}: initial;
                    }
                }
            }
        }
    }
}