@mixin background-clip($type, $orientation) {
    /* background clip */
    @each $backgroundClip in (
        "border-box",
        "padding-box",
        "content-box",
        "text"
    ) {
        .#{$type}#{$orientation}background-clip--#{$backgroundClip} {
            background-clip: #{$backgroundClip};
            // @if $backgroundClip == text {
            //     color: #{transparent};
            // }
        }
    }
}