@mixin background-origin ($type, $orientation) {
    /* background origin */
    @each $alias, $backgroundOrigin in (
        "border": "border-box",
        "padding": "padding-box",
        "content": "content-box"
    ) {
        .#{$type}#{$orientation}background-origin--#{$alias} {
            background-origin: #{$backgroundOrigin};
        }
    }
}