@mixin background-color($type, $orientation, $enableVariables) {
    /* background color */
    .#{$type}#{$orientation}background-color {
        &--transparent,
        &--transparent\:hover:hover {
            background-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .background-color {
            @if $type == "" and $orientation == "" {
                background-color: var(--background-color);
            } @else {
                background-color: var(--#{$type}#{$orientation}background-color, var(--background-color));
            }
        }
        @each $pseudoClass in (
            // "focus",
            // "active",
            "hover",
            // "checked",
            // "enabled",
            // "disabled"
        ) {
            .background-color\:#{$pseudoClass}:#{$pseudoClass} {
                @if $type == "" and $orientation == "" {
                    background-color: var(--background-color\:#{$pseudoClass});
                } @else {
                    background-color: var(--#{$type}#{$orientation}background-color\:#{$pseudoClass}, var(--background-color\:#{$pseudoClass}));
                }
            }
        }
    }
}