@mixin background-clip($type, $orientation) {
    /* background clip */
    @each $alias, $backgroundClip in (
        "border": "border-box",
        "padding": "padding-box",
        "content": "content-box",
        "text": "text"
    ) {
        .#{$type}#{$orientation}background-clip--#{$alias} {
            background-clip: #{$backgroundClip};
            // @if $backgroundClip == text {
            //     color: #{transparent};
            // }
        }
    }
}