@mixin background-image($type, $orientation, $enableVariables) {
    /* background image */
    
    @if $enableVariables {
        .background-image {
            background-image: var(--#{$type}#{$orientation}background-image, var(--background-image));
        }
    }
}