@mixin background-size($type, $orientation, $enableVariables) {
    /* background-size */
    @each $backgroundSize in (
        "cover",
        "contain"
    ) {
        .#{$type}#{$orientation}background-size--#{$backgroundSize} {
            background-size: #{$backgroundSize};
        }
    }
    
    @if $enableVariables {
        .background,
        .background-size {
            background-size: var(--#{$type}#{$orientation}background-size, var(--background-size));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}background-size: initial;
            }
        }
    }
}