@mixin background-origin ($type, $orientation) {
    /* background origin */
    @each $backgroundOrigin in (
        "border-box",
        "padding-box",
        "content-box"
    ) {
        .#{$type}#{$orientation}background-origin--#{$backgroundOrigin} {
            background-origin: #{$backgroundOrigin};
        }
    }
}