@mixin background-repeat($type, $orientation) {
    /* background repeat */
    @each $alias, $backgroundRepeat in (
        "x": "repeat-x",
        "y": "repeat-y",
        "space": "space",
        "round": "round",
        "no": "no-repeat"
    ) {
        .#{$type}#{$orientation}background-repeat--#{$alias} {
            background-repeat: #{$backgroundRepeat};
        }
    }
}