@mixin background-attachment($type, $orientation) {
    /* background attachment */
    @each $backgroundAttachment in (
        "scroll",
        "fixed",
        "local"
    ) {
        .#{$type}#{$orientation}background-attachment--#{$backgroundAttachment} {
            background-attachment: #{$backgroundAttachment};
        }
    }
}