@mixin background-size($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* background-size */
    @each $backgroundSize in (
        "cover",
        "contain"
    ) {
        .#{$type}#{$orientation}background-size--#{$backgroundSize} {
            background-size: #{$backgroundSize};
        }
    }
    
    @if $enableVariables {
        // .background,
        .background-size {
            background-size: var(--#{$type}#{$orientation}background-size, var(--background-size));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --background-size: initial;
                }
            }
        }
    }
}