@mixin background-color($type, $orientation, $enableVariables) {
    /* background color */
    .#{$type}#{$orientation}background-color {
        &--transparent,
        &--transparent\:hover:hover {
            background-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .background,
        .background-color {
            background-color: var(--#{$type}#{$orientation}background-color, var(--background-color));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}background-color: initial;
            }
        }
        @each $pseudoClass in (
            // "focus",
            // "active",
            "hover",
            // "checked",
            // "enabled",
            // "disabled"
        ) {
            .background-color\:#{$pseudoClass}:#{$pseudoClass} {
                background-color: var(--#{$type}#{$orientation}background-color\:#{$pseudoClass}, var(--background-color\:#{$pseudoClass}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}background-color\:#{$pseudoClass}: initial;
                }
            }
        }
    }
}