@mixin background-origin ($type, $orientation, $enableVariables) {
    /* background origin */
    @each $backgroundOrigin in (
        "border-box",
        "padding-box",
        "content-box"
    ) {
        .#{$type}#{$orientation}background-origin--#{$backgroundOrigin} {
            background-origin: #{$backgroundOrigin};
        }
    }

    @if $enableVariables {
        .background-origin {
            @if $type == "" and $orientation == "" {
                background-origin: var(--background-origin);
            } @else {
                background-origin: var(--#{$type}#{$orientation}background-origin, var(--background-origin));
            }
        }
    }
}