@mixin background-clip($type, $orientation, $enableVariables) {
    /* background clip */
    @each $backgroundClip in (
        "border-box",
        "padding-box",
        "content-box",
        "text"
    ) {
        .#{$type}#{$orientation}background-clip--#{$backgroundClip} {
            background-clip: #{$backgroundClip};
            // @if $backgroundClip == text {
            //     color: #{transparent};
            // }
        }
    }

    @if $enableVariables {
        .background-clip {
            @if $type == "" and $orientation == "" {
                background-clip: var(--background-clip);
            } @else {
                background-clip: var(--#{$type}#{$orientation}background-clip, var(--background-clip));
            }
        }
    }
}