@mixin background-repeat($type, $orientation, $enableVariables) {
    /* background repeat */
    @each $backgroundRepeat in (
        "repeat-x",
        "repeat-y",
        "space",
        "round",
        "no-repeat"
    ) {
        .#{$type}#{$orientation}background-repeat--#{$backgroundRepeat} {
            background-repeat: #{$backgroundRepeat};
        }
    }

    @if $enableVariables {
        .background-repeat {
            @if $type == "" and $orientation == "" {
                background-repeat: var(--background-repeat);
            } @else {
                background-repeat: var(--#{$type}#{$orientation}background-repeat, var(--background-repeat));
            }
        }
    }
}