@mixin background-attachment($type, $orientation, $enableVariables) {
    /* background attachment */
    @each $backgroundAttachment in (
        "scroll",
        "fixed",
        "local"
    ) {
        .#{$type}#{$orientation}background-attachment--#{$backgroundAttachment} {
            background-attachment: #{$backgroundAttachment};
        }
    }

    @if $enableVariables {
        .background-attachment {
            @if $type == "" and $orientation == "" {
                background-attachment: var(--background-attachment);
            } @else {
                background-attachment: var(--#{$type}#{$orientation}background-attachment, var(--background-attachment));
            }
        }
    }
}