@mixin background-repeat($type, $orientation) {
    /* background repeat */
    @each $backgroundRepeat in (
        "repeat-x",
        "repeat-y",
        "space",
        "round",
        "no-repeat"
    ) {
        .#{$type}#{$orientation}background-repeat--#{$backgroundRepeat} {
            background-repeat: #{$backgroundRepeat};
        }
    }
}