@mixin background-size($device, $orientation, $enableVariables) {
    /* background-size */
    @each $backgroundSize in (
        "cover",
        "contain"
    ) {
        .#{$device}#{$orientation}background-size--#{$backgroundSize} {
            background-size: #{$backgroundSize};
        }
    }
    
    @if $enableVariables {
        .background-size {
            @if $device == "" and $orientation == "" {
                background-size: var(--background-size);
            } @else {
                background-size: var(--#{$device}#{$orientation}background-size, var(--background-size));
            }
        }
    }
}