@use "background-attachment" as *;
@use "background-clip" as *;
@use "background-color" as *;
@use "background-image" as *;
@use "background-origin" as *;
@use "background-position" as *;
@use "background-repeat" as *;
@use "background-size" as *;

@mixin background($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include background-attachment($type, $orientation);
    @include background-clip($type, $orientation);
    @include background-color($type, $orientation, $enableVariables, $enableVariablesReset);
    @include background-image($type, $orientation, $enableVariables, $enableVariablesReset);
    @include background-origin ($type, $orientation);
    @include background-position($type, $orientation, $enableVariables, $enableVariablesReset);
    @include background-repeat($type, $orientation);
    @include background-size($type, $orientation, $enableVariables, $enableVariablesReset);
}