@mixin grid-row($device, $orientation, $gridSize) {
    // preset: grid row
    @for $i from 1 through $gridSize {
        .#{$device}#{$orientation}grid-row--span-#{$i} {
            grid-row: span $i / span $i
        }
    }
    .#{$device}#{$orientation}grid-row--full {
        grid-row: 1 / -1;
    }
    
    @for $i from 1 through $gridSize {
        .#{$device}#{$orientation}grid-row-start--#{$i} {
            grid-row-start: $i
        }
        .#{$device}#{$orientation}grid-row-end-#{$i} {
            grid-row-end: $i
        }
    }
}