@mixin z-index($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* z-index */

    @if $enableVariables {
        .z-index {
            z-index: var(--#{$type}#{$orientation}z-index, var(--z-index));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --z-index: initial;
                }
            }
        }
    }
}