@use "z-index" as z-index;

@mixin z-index($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include z-index.z-index($type, $orientation, $enableVariables, $enableVariablesReset);
}
