@mixin position($device, $orientation, $enableVariables) {
    /* position */
    @each $position in (
        "static",
        "relative",
        "absolute",
        "fixed",
        "sticky"
    ) {
        .#{$device}#{$orientation}position--#{$position} {
            position: #{$position};
        }
    }

    @if $enableVariables {
        .position {
            @if $device == "" and $orientation == "" {
                position: var(--position);
            } @else {
                position: var(--#{$device}#{$orientation}position, var(--position));
            }
        }
    }
}