@mixin e-group() {
    e-group,
    .element--group {
        --display: contents;

        &:where(:is([class*=display--grid], [class*=display--inline-grid])[class*=-row]),
        &:where(:is([class*=display--flex], [class*=display--inline-flex])[class*=-column]) {
        // &.direction--vertical {
            --margin-inline: 0;
            --margin-block-start: 0;
            --margin-block-end: 0;
            > :where(:first-child:not(:last-child)),
            > :where(:not(:first-child, :last-child)) {
                --border-end-start-radius: 0;
                --border-end-end-radius: 0;
            }
            > :where(:not(:first-child, :last-child)),
            > :where(:last-child:not(:first-child)) {
                --border-start-start-radius: 0;
                --border-start-end-radius: 0;
            }
        }

        &:where(:is([class*=display--grid], [class*=display--inline-grid])[class*=-column]),
        &:where(:is([class*=display--flex], [class*=display--inline-flex])[class*=-row]) {
        // &.direction--horizontal {
            --margin-inline-start: 0;
            --margin-inline-end: 0;
            --margin-block: 0;
            > :where(:first-child:not(:last-child)),
            > :where(:not(:first-child, :last-child)) {
                --border-start-end-radius: 0;
                --border-end-end-radius: 0;
            }
            > :where(:not(:first-child, :last-child)),
            > :where(:last-child:not(:first-child)) {
                --border-start-start-radius: 0;
                --border-end-start-radius: 0;
            }
        }
    }
}