@mixin color ($type, $orientation, $enableVariables) {
    /* color */
    .#{$type}#{$orientation}color--transparent {
        color: #{transparent};
    }
    
    @if $enableVariables {
        .color {
            color: var(--#{$type}#{$orientation}color, var(--color));
        }
        @each $pseudoClass in (
            "focus",
            "active",
            "hover",
            "checked",
            "enabled",
            "disabled"
        ) {
            .color\:#{$pseudoClass}:#{$pseudoClass} {
                color: var(--#{$type}#{$orientation}color\:#{$pseudoClass}, var(--color\:#{$pseudoClass}));
            }
        }
    }
}