@mixin color($type, $orientation, $enableVariables) {
    /* color */
    .#{$type}#{$orientation}color {
        &--transparent,
        &--transparent\:hover:hover {
            color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .color {
            color: var(--#{$type}#{$orientation}color, var(--color));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}color: initial;
            }
        }
        @each $pseudoClass in (
            // "focus",
            // "active",
            "hover",
            // "checked",
            // "enabled",
            // "disabled"
        ) {
            .color\:#{$pseudoClass}:#{$pseudoClass} {
                color: var(--#{$type}#{$orientation}color\:#{$pseudoClass}, var(--color\:#{$pseudoClass}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}color\:#{$pseudoClass}: initial;
                }
            }
        }
    }
}