@mixin color($type, $orientation, $enableVariables) {
    /* color */
    .#{$type}#{$orientation}color {
        &--transparent,
        &--transparent\:hover:hover {
            color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .color {
            @if $type == "" and $orientation == "" {
                color: var(--color);
            } @else {
                color: var(--#{$type}#{$orientation}color, var(--color));
            }
        }
        @each $pseudoClass in (
            // "focus",
            // "active",
            "hover",
            // "checked",
            // "enabled",
            // "disabled"
        ) {
            .color\:#{$pseudoClass}:#{$pseudoClass} {
                @if $type == "" and $orientation == "" {
                    color: var(--color\:#{$pseudoClass});
                } @else {
                    color: var(--#{$type}#{$orientation}color\:#{$pseudoClass}, var(--color\:#{$pseudoClass}));
                }
            }
        }
    }
}