@mixin direction($type, $orientation, $enableVariables) {
    /* directions */
    @each $directions in (
        "ltr",
        "rtl"
    ) {
        .#{$type}#{$orientation}direction--#{$directions} {
            direction: #{$directions};
        }
    }

    @if $enableVariables {
        .direction {
            @if $type == "" and $orientation == "" {
                direction: var(--direction);
            } @else {
                direction: var(--#{$type}#{$orientation}direction, var(--direction));
            }
        }
    }
}