@mixin font-weight($device, $orientation, $enableVariables) {
    /* font weight */
    .#{$device}#{$orientation}font-weight {
        @for $i from 1 through 9 {
            &--#{$i * 100} {
                font-weight: #{$i * 100};
            }
        }
        &--unset {
            font-weight: unset;
        }
    }
    
    @if $enableVariables {
        .font-weight {
            @if $device == "" and $orientation == "" {
                font-weight: var(--font-weight);
            } @else {
                font-weight: var(--#{$device}#{$orientation}font-weight, var(--font-weight));
            }
        }
    }
}