@mixin font-weight ($type, $orientation, $enableVariables) {
    /* font weight */
    .#{$type}#{$orientation}font-weight {
        @for $i from 1 through 9 {
            &--#{$i * 100} {
                font-weight: #{$i * 100};
            }
        }
        &--unset {
            font-weight: unset;
        }
    }
    
    @if $enableVariables {
        .font-weight {
            font-weight: var(--#{$type}#{$orientation}font-weight, var(--font-weight));
        }
    }
}