@mixin line-height($device, $orientation, $enableVariables) {
    /* line height */
    @each $lineHeight in (
        "unset"
    ) {
        .#{$device}#{$orientation}line-height--#{$lineHeight} {
            line-height: #{$lineHeight};
        }
    }
    
    @if $enableVariables {
        .line-height {
            @if $device == "" and $orientation == "" {
                line-height: var(--line-height);
            } @else {
                line-height: var(--#{$device}#{$orientation}line-height, var(--line-height));
            }
        }
    }
}