@mixin line-height($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* line height */
    @each $lineHeight in (
        "unset"
    ) {
        .#{$type}#{$orientation}line-height--#{$lineHeight} {
            line-height: #{$lineHeight};
        }
    }
    
    @if $enableVariables {
        .line-height {
            line-height: var(--#{$type}#{$orientation}line-height, var(--line-height));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --line-height: initial;
                }
            }
        }
    }
}