@mixin text-decoration-line($type, $orientation, $enableVariables) {
    /* text decoration line */

    @if $enableVariables {
        .text-decoration-line {
            text-decoration-line: var(--#{$type}#{$orientation}text-decoration-line, var(--text-decoration-line));
        }
    }
}