@mixin text-decoration-line($type, $orientation, $enableVariables) {
    /* text decoration line */
    // @each $alias, $textDecorationLine in (
    //     "none": "none",
    //     "underline": "underline",
    //     "through": "line-through"
    // ) {
    //     .#{$type}#{$orientation}text-decoration-line--#{$alias} {
    //         text-decoration-line: #{$textDecorationLine};
    //     }
    // }

    @if $enableVariables {
        .text-decoration,
        .text-decoration-line {
            text-decoration-line: var(--#{$type}#{$orientation}text-decoration-line, var(--text-decoration-line));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}text-decoration-line: initial;
            }
        }
    }
}