@mixin text-align($type, $orientation) {
    /* text align */
    @each $textAlign in (
        "start",
        "center",
        "end",
        "justify"
    ) {
    .#{$type}#{$orientation}text-align--#{$textAlign} {
            text-align: #{$textAlign};
        }
    }
}