@mixin text-align($type, $orientation, $enableVariables) {
    /* text align */
    @each $textAlign in (
        "start",
        "center",
        "end",
        "justify"
    ) {
    .#{$type}#{$orientation}text-align--#{$textAlign} {
            text-align: #{$textAlign};
        }
    }

    @if $enableVariables {
        .text-align {
            @if $type == "" and $orientation == "" {
                text-align: var(--text-align);
            } @else {
                text-align: var(--#{$type}#{$orientation}text-align, var(--text-align));
            }
        }
    }
}