@mixin text-transform($type, $orientation) {
    /* text transform */
    @each $textTransform in (
        "lowercase",
        "uppercase",
        "capitalize"
    ) {
        .#{$type}#{$orientation}text-transform--#{$textTransform} {
            text-transform: #{$textTransform};
        }
    }
}