@mixin text-decoration-color($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* text decoration color */

    @if $enableVariables {
        // .text-decoration,
        .text-decoration-color {
            text-decoration-color: var(--#{$type}#{$orientation}text-decoration-color, var(--text-decoration-color));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --text-decoration-color: initial;
                }
            }
        }
    }
}