@mixin text-wrap($type, $orientation, $enableVariables) {
    /* text wrap */
    @each $textWrap in (
        "wrap",
        "nowrap",
        "balance"
    ) {
        .#{$type}#{$orientation}text-wrap--#{$textWrap} {
            text-wrap: #{$textWrap};
        }
    }

    @if $enableVariables {
        .text-wrap {
            @if $type == "" and $orientation == "" {
                text-wrap: var(--text-wrap);
            } @else {
                text-wrap: var(--#{$type}#{$orientation}text-wrap, var(--text-wrap));
            }
        }
    }
}