@mixin text-wrap($type, $orientation) {
    /* text wrap */
    @each $textWrap in (
        "wrap",
        "nowrap",
        "balance"
    ) {
        .#{$type}#{$orientation}text-wrap--#{$textWrap} {
            text-wrap: #{$textWrap};
        }
    }
}