@mixin text-decoration($device, $orientation, $enableVariables) {
    /* text decoration */
    @each $textDecoration in (
        "none"
    ) {
    .#{$device}#{$orientation}text-decoration--#{$textDecoration} {
            text-decoration: #{$textDecoration};
        }
    }

    @if $enableVariables {
        .text-decoration-line {
            @if $device == "" and $orientation == "" {
                text-decoration-line: var(--text-decoration-line);
            } @else {
                text-decoration-line: var(--#{$device}#{$orientation}text-decoration-line, var(--text-decoration-line));
            }
        }
        .text-decoration-style {
            @if $device == "" and $orientation == "" {
                text-decoration-style: var(--text-decoration-style);
            } @else {
                text-decoration-style: var(--#{$device}#{$orientation}text-decoration-style, var(--text-decoration-style));
            }
        }
        .text-decoration-color {
            @if $device == "" and $orientation == "" {
                text-decoration-color: var(--text-decoration-color);
            } @else {
                text-decoration-color: var(--#{$device}#{$orientation}text-decoration-color, var(--text-decoration-color));
            }
        }
        .text-decoration-thickness {
            @if $device == "" and $orientation == "" {
                text-decoration-thickness: var(--text-decoration-thickness);
            } @else {
                text-decoration-thickness: var(--#{$device}#{$orientation}text-decoration-thickness, var(--text-decoration-thickness));
            }
        }
    }
}
