@mixin text-decoration-color($type, $orientation, $enableVariables) {
    /* text decoration color */

    @if $enableVariables {
        .text-decoration,
        .text-decoration-color {
            text-decoration-color: var(--#{$type}#{$orientation}text-decoration-color, var(--text-decoration-color));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}text-decoration-color: initial;
            }
        }
    }
}