@mixin white-space($type, $orientation) {
    /* white space */
    @each $whiteSpace in (
        "normal",
        "nowrap",
        "pre",
        "pre-wrap",
        "pre-line",
        "break-spaces",
        "unset"
    ) {
        .#{$type}#{$orientation}white-space--#{$whiteSpace} {
            white-space: #{$whiteSpace};
        }
    }
}