@mixin white-space($type, $orientation, $enableVariables) {
    /* white space */
    @each $whiteSpace in (
        "normal",
        "nowrap",
        "pre",
        "pre-wrap",
        "pre-line",
        "preserve",
        "break-spaces",
        "unset"
    ) {
        .#{$type}#{$orientation}white-space--#{$whiteSpace} {
            white-space: #{$whiteSpace};
        }
    }

    @if $enableVariables {
        .white-space {
            @if $type == "" and $orientation == "" {
                white-space: var(--white-space);
            } @else {
                white-space: var(--#{$type}#{$orientation}white-space, var(--white-space));
            }
        }
    }
}