@mixin word-break($type, $orientation) {
    /* word break */
    @each $alias, $wordBreak in (
        "normal": "normal",
        "break": "break-all",
        "keep": "keep-all",
        "auto": "auto-phrase",
        "unset": "unset"
    ) {
        .#{$type}#{$orientation}word-break--#{$alias} {
            word-break: #{$wordBreak};
        }
    }
}