@mixin word-break($type, $orientation, $enableVariables) {
    /* word break */
    @each $wordBreak in (
        "normal",
        "break-all",
        "keep-all",
        "auto-phrase",
        "unset"
    ) {
        .#{$type}#{$orientation}word-break--#{$wordBreak} {
            word-break: #{$wordBreak};
        }
    }

    @if $enableVariables {
        .word-break {
            @if $type == "" and $orientation == "" {
                word-break: var(--word-break);
            } @else {
                word-break: var(--#{$type}#{$orientation}word-break, var(--word-break));
            }
        }
    }
}