@mixin writing-mode($type, $orientation) {
    /* writing mode */
    @each $writingMode in (
        "vertical-rl",
        "vertical-lr"
    ) {
        .#{$type}#{$orientation}writing-mode--#{$writingMode} {
            writing-mode: #{$writingMode};
        }
    }
}