@use "_align/~" as *;
@use "_background/~" as *;
@use "_border/~" as *;
@use "_cursor/~" as *;
@use "_display/~" as *;
@use "_flex/~" as *;
@use "_float/~" as *;
@use "_grid/~" as *;
@use "_indent/~" as *;
@use "_justify/~" as *;
@use "_object/~" as *;
@use "_order/~" as *;
@use "_outline/~" as *;
@use "_overflow/~" as *;
@use "_placement/~" as *;
@use "_events/~" as *;
@use "_position/~" as *;
@use "_shadow/~" as *;
@use "_sizing/~" as *;
@use "_transform/~" as *;
@use "_typography/~" as *;
@use "_z-index/~" as *;
@use "_zoom/~" as *;

@mixin utilities($type: "UNDEFINED_", $orientation: "UNDEFINED_", $enableVariables: false, $enableVariablesReset: false) {
    @include align($type, $orientation);
    @include background($type, $orientation, $enableVariables, $enableVariablesReset);
    @include border($type, $orientation, $enableVariables, $enableVariablesReset);
    @include cursor($type, $orientation, $enableVariables, $enableVariablesReset);
    @include display($type, $orientation);
    @include flex($type, $orientation, $enableVariables, $enableVariablesReset);
    @include float($type, $orientation);
    @include grid($type, $orientation, $enableVariables, $enableVariablesReset);
    @include indent($type, $orientation, $enableVariables, $enableVariablesReset);
    @include justify($type, $orientation);
    @include object($type, $orientation, $enableVariables, $enableVariablesReset);
    @include order($type, $orientation, $enableVariables, $enableVariablesReset);
    @include outline($type, $orientation, $enableVariables, $enableVariablesReset);
    @include overflow($type, $orientation);
    @include placement($type, $orientation, $enableVariables, $enableVariablesReset);
    @include events($type, $orientation, $enableVariables, $enableVariablesReset);
    @include position($type, $orientation);
    @include shadow($type, $orientation, $enableVariables, $enableVariablesReset);
    @include sizing($type, $orientation, $enableVariables, $enableVariablesReset);
    @include transform($type, $orientation, $enableVariables, $enableVariablesReset);
    @include typography($type, $orientation, $enableVariables, $enableVariablesReset);
    @include z-index($type, $orientation, $enableVariables, $enableVariablesReset);
    @include zoom($type, $orientation, $enableVariables, $enableVariablesReset);
}