@mixin indent($type, $orientation, $enableVariables, $spacingSizes) {
    /* margin & padding */
    @each $spacingName in (
        "margin",
        "padding"
    ) {
        .#{$type}#{$orientation}#{$spacingName} {
            @each $space in $spacingSizes {
                @if $spacingName == margin or($spacingName == padding and $space != auto) {
                    &--#{$space} {
                        #{$spacingName}: #{$space};
                    }
                }
            }
            @each $space in $spacingSizes {
                @if $spacingName == margin or($spacingName == padding and $space != auto) {
                    &-block--#{$space} {
                        #{$spacingName}-block: #{$space};
                    }
                    &-inline--#{$space} {
                        #{$spacingName}-inline: #{$space};
                    }
                    &-top--#{$space} {
                        #{$spacingName}-top: #{$space};
                    }
                    &-right--#{$space} {
                        #{$spacingName}-right: #{$space};
                    }
                    &-bottom--#{$space} {
                        #{$spacingName}-bottom: #{$space};
                    }
                    &-left--#{$space} {
                        #{$spacingName}-left: #{$space};
                    }
                }
            }
        }
        @if $enableVariables {
            .#{$spacingName} {
                #{$spacingName}: var(--#{$type}#{$orientation}#{$spacingName}, var(--#{$spacingName}));
                &-block {
                    #{$spacingName}-block: var(--#{$type}#{$orientation}#{$spacingName}-block, var(--#{$spacingName}));
                }
                &-inline {
                    #{$spacingName}-inline: var(--#{$type}#{$orientation}#{$spacingName}-inline, var(--#{$spacingName}));
                }
                &-top {
                    #{$spacingName}-top: var(--#{$type}#{$orientation}#{$spacingName}-top, var(--#{$spacingName}));
                }
                &-right {
                    #{$spacingName}-right: var(--#{$type}#{$orientation}#{$spacingName}-right, var(--#{$spacingName}));
                }
                &-bottom {
                    #{$spacingName}-bottom: var(--#{$type}#{$orientation}#{$spacingName}-bottom, var(--#{$spacingName}));
                }
                &-left {
                    #{$spacingName}-left: var(--#{$type}#{$orientation}#{$spacingName}-left, var(--#{$spacingName}));
                }
            }
        }
    }
}