@mixin indent($type, $orientation, $enableVariables, $enableVariablesReset, $spacingSizes) {
    /* margin & padding */
    @each $spacingName in (
        "margin",
        "padding"
    ) {
        .#{$type}#{$orientation}#{$spacingName} {
            @each $space in $spacingSizes {
                @if $spacingName == margin or($spacingName == padding and $space != auto) {
                    &--#{$space} {
                        #{$spacingName}: #{$space};
                    }
                }
            }
            @each $space in $spacingSizes {
                @if $spacingName == margin or($spacingName == padding and $space != auto) {
                    @each $property in (
                        "block",
                        "inline",
                        "top",
                        "right",
                        "bottom",
                        "left"
                    ) {
                        &-#{$property}--#{$space} {
                            #{$spacingName}-#{$property}: #{$space};
                        }
                    }
                }
            }
        }

        @if $enableVariables {
            .#{$spacingName} {
                #{$spacingName}: var(--#{$type}#{$orientation}#{$spacingName}, var(--#{$spacingName}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --#{$spacingName}: initial;
                    }
                }
                @each $property in (
                    "block",
                    "inline",
                    "top",
                    "right",
                    "bottom",
                    "left"
                ) {
                    &-#{$property} {
                        #{$spacingName}-#{$property}: var(--#{$type}#{$orientation}#{$spacingName}-#{$property}, var(--#{$spacingName}));
                        @if $enableVariablesReset {
                            // сбрасываем у потомков значения переменных
                            > * {
                                --#{$spacingName}: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}