$spacingSizes:(
    "auto",
    "unset"
);

@use "gap" as *;
@use "indent" as indent;

@mixin indent($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include gap($type, $orientation, $enableVariables, $enableVariablesReset, $spacingSizes);
    @include indent.indent($type, $orientation, $enableVariables, $enableVariablesReset, $spacingSizes);
}