$marginSizes: (
    "auto",
    "unset"
);
$paddingSizes: (
    "unset"
);
$gapSizes: (
    "unset"
);

@use "gap" as *;
@use "indent" as indent;

@mixin indent($type, $orientation, $enableVariables) {
    @include gap($type, $orientation, $enableVariables, $gapSizes);
    @include indent.indent($type, $orientation, $enableVariables, $marginSizes, $paddingSizes);
}