@mixin order($device, $orientation, $enableVariables) {
    /* order */
    .#{$device}#{$orientation}order--unset {
        order: unset;
    }
    
    @if $enableVariables {
        .order {
            @if $device == "" and $orientation == "" {
                order: var(--order);
            } @else {
                order: var(--#{$device}#{$orientation}order, var(--order));
            }
        }
    }
}