@mixin order($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* order */
    .#{$type}#{$orientation}order--unset {
        order: unset;
    }
    
    @if $enableVariables {
        .order {
            order: var(--#{$type}#{$orientation}order, var(--order));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --order: initial;
                }
            }
        }
    }
}