/* preset: color */

.#{$type}#{$orientation}color {
    @each $color in $defaultColors {
        &--#{$color} {
            color: var(--#{$color})
        }
        @for $i from 1 through math.div(100, $xtraColorInterval) - 1 {
            &--#{$color}-#{$i * $xtraColorInterval} {
                color: var(--#{$color}-#{$i * $xtraColorInterval})
            }
        }
        &--#{$color}-m {
            color: var(--#{$color}-m)
        }
    }
    @each $color in $accentColors {
        &--#{$color} {
            color: var(--#{$color})
        }
        @each $pref in $accentColorsPostfixes {
            &--#{$color}-#{$pref} {
                color: var(--#{$color}-#{$pref})
            }
        }
    }
}