/* preset: border color */

@each $color in $defaultColors {
    .#{$type}#{$orientation}border-color {
        &--#{$color},
        &--#{$color}\:hover:hover {
            border-color: var(--#{$color}) !important;
        }
        @for $i from 1 through math.div(100, $xtraColorInterval) - 1 {
            &--#{$color}-#{$i * $xtraColorInterval},
            &--#{$color}-#{$i * $xtraColorInterval}\:hover:hover {
                border-color: var(--#{$color}-#{$i * $xtraColorInterval}) !important;
            }
        }
        &--#{$color}-m,
        &--#{$color}-m\:hover:hover {
            border-color: var(--#{$color}-m) !important;
        }
    }
}

@each $color in $accentColors {
    .#{$type}#{$orientation}border-color {
        &--#{$color},
        &--#{$color}\:hover:hover {
            border-color: var(--#{$color}) !important;
        }
        @each $pref in $accentExtraColorsPrefs {
            &--#{$color}-#{$pref},
            &--#{$color}-#{$pref}\:hover:hover {
                border-color: var(--#{$color}-#{$pref}) !important;
            }
        }
    }
}
