// preset: border radius

$borderRadiusCorner: (
    "top-left",
    "top-right",
    "bottom-right",
    "bottom-left"
);
$borderRadiusSize: (
    "3s",
    "2s",
    "1s",
    "md",
    "1l",
    "2l",
    "3l",
    "4l"
);
$borderRadiusXtraSize: (
    oval: 50%,
    pill: 4em
);

.#{$type}#{$orientation}border-radius {
    @each $size in $borderRadiusSize {
        &--#{$size} {
            border-radius: var(--border-radius--#{$size});
        }
    }
    @each $name, $xtraSize in $borderRadiusXtraSize {
        &--#{$name} {
            border-radius: #{$xtraSize};
        }
    }
}

@each $corner in $borderRadiusCorner {
    .#{$type}#{$orientation}border-#{$corner}-radius {
        @each $size in $borderRadiusSize {
            &--#{$size} {
                border-#{$corner}-radius: var(--border-radius--#{$size});
            }
        }
        @each $name, $xtraSize in $borderRadiusXtraSize {
            &--#{$name} {
                border-#{$corner}-radius: #{$xtraSize};
            }
        }
    }
}
