$borderRadiusCorner: (
    "top-left",
    "top-right",
    "bottom-right",
    "bottom-left"
);
$borderRadiusSize: (
    "s3",
    "s2",
    "s1",
    "md",
    "l1",
    "l2",
    "l3",
    "l4"
);
$borderRadiusXtraSize: (
    oval: 50%,
    pill: 4em
);

@mixin border-radius($type, $orientation) {
    // preset: border radius
    .#{$type}#{$orientation}border-radius {
        @each $size in $borderRadiusSize {
            &--#{$size} {
                border-radius: var(--border-radius--#{$size});
            }
        }
        @each $name, $xtraSize in $borderRadiusXtraSize {
            &--#{$name} {
                border-radius: #{$xtraSize};
            }
        }
    }
    @each $corner in $borderRadiusCorner {
        .#{$type}#{$orientation}border-#{$corner}-radius {
            @each $size in $borderRadiusSize {
                &--#{$size} {
                    border-#{$corner}-radius: var(--border-radius--#{$size});
                }
            }
            @each $name, $xtraSize in $borderRadiusXtraSize {
                &--#{$name} {
                    border-#{$corner}-radius: #{$xtraSize};
                }
            }
        }
    }
}

