@mixin align-self($type, $orientation) {
    /* align self */
    @each $alignSelf in (
        "baseline",
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}align-self--#{$alignSelf} {
            align-self: #{$alignSelf};
        }
    }
}