@mixin align-items($type, $orientation, $enableVariables) {
    /* align items */
    @each $alignItems in (
        "baseline",
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}align-items--#{$alignItems} {
            align-items: #{$alignItems};
        }
    }

    @if $enableVariables {
        .align-items {
            @if $type == "" and $orientation == "" {
                align-items: var(--align-items);
            } @else {
                align-items: var(--#{$type}#{$orientation}align-items, var(--align-items));
            }
        }
    }
}