@mixin align-items($type, $orientation) {
    /* align items */
    @each $alignItems in (
        "baseline",
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$type}#{$orientation}align-items--#{$alignItems} {
            align-items: #{$alignItems};
        }
    }
}