@mixin align-content($type, $orientation) {
    /* align content */
    @each $alias, $alignContent in (
        "baseline": "baseline",
        "around": "space-around",
        "between": "space-between",
        "center": "center",
        "end": "end",
        "evenly": "space-evenly",
        "start": "start",
        "stretch": "stretch"
    ) {
        .#{$type}#{$orientation}align-content--#{$alias} {
            align-content: #{$alignContent};
        }
    }
}