@mixin align-self($device, $orientation, $enableVariables) {
    /* align self */
    @each $alignSelf in (
        "baseline",
        "center",
        "end",
        "start",
        "stretch"
    ) {
        .#{$device}#{$orientation}align-self--#{$alignSelf} {
            align-self: #{$alignSelf};
        }
    }

    @if $enableVariables {
        .align-self {
            @if $device == "" and $orientation == "" {
                align-self: var(--align-self);
            } @else {
                align-self: var(--#{$device}#{$orientation}align-self, var(--align-self));
            }
        }
    }
}