@mixin vertical-align($type, $orientation) {
    /* vertical align */
    @each $verticalAlign in (
        "baseline",
        "sub",
        "super",
        "top",
        "middle",
        "bottom",
        "text-bottom",
        "text-top"
    ) {
        .#{$type}#{$orientation}vertical-align--#{$verticalAlign} {
            vertical-align: #{$verticalAlign};
        }
    }
}