@mixin vertical-align($device, $orientation, $enableVariables) {
    /* vertical align */
    @each $verticalAlign in (
        "baseline",
        "sub",
        "super",
        "top",
        "middle",
        "bottom",
        "text-bottom",
        "text-top"
    ) {
        .#{$device}#{$orientation}vertical-align--#{$verticalAlign} {
            vertical-align: #{$verticalAlign};
        }
    }

    @if $enableVariables {
        .vertical-align {
            @if $device == "" and $orientation == "" {
                vertical-align: var(--vertical-align);
            } @else {
                vertical-align: var(--#{$device}#{$orientation}vertical-align, var(--vertical-align));
            }
        }
    }
}