@mixin float($type, $orientation) {
    /* float */
    @each $alias, $float in (
        "left": "left",
        "right": "right",
        "start": "inline-start",
        "end": "inline-end",
        "none": "none"
    ) {
        .#{$type}#{$orientation}float--#{$alias} {
            float: #{$float};
        }
    }
}