@mixin float($type, $orientation) {
    /* float */
    @each $float in (
        "left",
        "right",
        "inline-start",
        "inline-end",
        "none"
    ) {
        .#{$type}#{$orientation}float--#{$float} {
            float: #{$float};
        }
    }
}