@mixin abbr() {
    abbr {
        --color: var(--second--light);
        --text-decoration-line: underline;
        --text-decoration-style: dotted;
        --text-decoration-color: var(--color);
        --text-decoration-thickness: auto;
        --text-underline-offset: var(--size--1);
        &[title]::after {
            --content: 'ℹ';
            --display: inline-block;
            --margin-inline-start: var(--size--0_5);
            --font-size: var(--font-size--s1);
            --line-height: var(--size--3);
            --vertical-align: super;
        }
        &[title=""]::after {
            --color: var(--danger);
        }
    }
}