@mixin menu() {
    :is([type=toolbar], [type=context]) {
        --gap: var(--gap--s2);
        --margin: 0;
        --padding: var(--padding--s2);
        --border-radius: var(--border-radius--md);
        --background: var(--positive--dark);
        --outline-color: var(--negative--mute);
        --outline-style: solid;
        --outline-width: var(--size--025);
        --outline-offset: calc(var(--size--025) * 0);
        --box-shadow: 0 var(--box-shadow--s1) calc(var(--box-shadow--s1) * 2) calc(var(--box-shadow--s1) * 0.5) var(--black--02);
        > li {
            --display: contents;
        }
    }
    [type=toolbar] {
        --display: inline-flex;
    }
    [type=context] {
        --display: inline-grid;
        --align-content: baseline;
    }
}
