@mixin outline-color($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* outline color */
    .#{$type}#{$orientation}outline-color {
        &--transparent,
        &--transparent\:hover:hover {
            outline-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        // .outline,
        .outline-color {
            outline-color: var(--#{$type}#{$orientation}outline-color, var(--outline-color));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --outline-color: initial;
                }
            }
        }
    }
}