@mixin outline-color($device, $orientation, $enableVariables) {
    /* outline color */
    .#{$device}#{$orientation}outline-color {
        &--transparent,
        &--transparent\:hover:hover {
            outline-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .outline-color {
            @if $device == "" and $orientation == "" {
                outline-color: var(--outline-color);
            } @else {
                outline-color: var(--#{$device}#{$orientation}outline-color, var(--outline-color));
            }
        }
    }
}