@mixin outline-style($type, $orientation, $enableVariables) {
    /* outline style */
    @each $outlineStyle in (
        "dotted",
        "dashed",
        "solid",
        "none"
    ) {
        .#{$type}#{$orientation}outline-style--#{$outlineStyle} {
        // .#{$type}#{$orientation}outline-style--#{$outlineStyle}\:hover:hover {
            outline-style: #{$outlineStyle};
            // @if $outlineStyle != none {
            //     outline-width: var(--outline-width--min);
            // }
        }
    }
    
    @if $enableVariables {
        .outline-style {
            outline-style: var(--#{$type}#{$orientation}outline-style, var(--outline-style));
        }
    }
}