@mixin outline-offset($type, $orientation, $enableVariables) {
    /* outline offset */
    
    @if $enableVariables {
        .outline-offset {
            outline-offset: var(--#{$type}#{$orientation}outline-offset, var(--outline-offset));
        }
    }
}