@mixin outline-width($device, $orientation, $enableVariables) {
    /* outline width */
    @each $outlineWidth in (
        "thin",
        "medium",
        "thick"
    ) {
        .#{$device}#{$orientation}outline-width--#{$outlineWidth} {
            outline-width: var(--outline-width--#{$outlineWidth}, #{$outlineWidth});
        }
        // @each $side in $outlineSides {
        //     .#{$device}#{$orientation}outline-#{$side}-width--#{$outlineWidth} {
        //         outline-#{$side}-width: var(--outline-width--#{$outlineWidth}, #{$outlineWidth});
        //     }
        // }
    }
    
    @if $enableVariables {
        .outline-width {
            @if $device == "" and $orientation == "" {
                outline-width: var(--outline-width);
            } @else {
                outline-width: var(--#{$device}#{$orientation}outline-width, var(--outline-width));
            }
        }
    }
}