@mixin outline-color($type, $orientation, $enableVariables) {
    /* outline color */
    .#{$type}#{$orientation}outline-color {
        &--transparent,
        &--transparent\:hover:hover {
            outline-color: #{transparent};
        }
    }
    
    @if $enableVariables {
        .outline-color {
            outline-color: var(--#{$type}#{$orientation}outline-color, var(--outline-color));
        }
    }
}