@mixin outline-width($type, $orientation, $enableVariables) {
    /* outline width */
    @each $outlineWidth in (
        "thin",
        "medium",
        "thick"
    ) {
        .#{$type}#{$orientation}outline-width--#{$outlineWidth} {
            outline-width: var(--outline-width--#{$outlineWidth}, #{$outlineWidth});
        }
        // @each $side in $outlineSides {
        //     .#{$type}#{$orientation}outline-#{$side}-width--#{$outlineWidth} {
        //         outline-#{$side}-width: var(--outline-width--#{$outlineWidth}, #{$outlineWidth});
        //     }
        // }
    }
    
    @if $enableVariables {
        .outline,
        .outline-width {
            outline-width: var(--#{$type}#{$orientation}outline-width, var(--outline-width));
        }
    }
}