@use "outline-color" as *;
@use "outline-offset" as *;
@use "outline-style" as *;
@use "outline-width" as *;

@mixin outline($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include outline-color($type, $orientation, $enableVariables, $enableVariablesReset);
    @include outline-offset($type, $orientation, $enableVariables, $enableVariablesReset);
    @include outline-style($type, $orientation, $enableVariables, $enableVariablesReset);
    @include outline-width($type, $orientation, $enableVariables, $enableVariablesReset);
}