@mixin cursor($type, $orientation, $enableVariables) {
    /* cursor */
    
    @if $enableVariables {
        .cursor {
            cursor: var(--#{$type}#{$orientation}cursor, var(--cursor));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}cursor: initial;
            }
        }
    }
}