@mixin cursor($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* cursor */
    
    @if $enableVariables {
        .cursor {
            cursor: var(--#{$type}#{$orientation}cursor, var(--cursor));
            @if $enableVariablesReset {
                // сбрасываем у потомков значения переменных
                > * {
                    --cursor: initial;
                }
            }
        }
    }
}