@mixin details($hover-active) {
    details {
        --position: relative;
        --display: inline-block;
        --inline-size: 100%;
        --border-radius: var(--border-radius--s1);
        --background: var(--positive--light) linear-gradient(var(--positive--mute));
        --background-clip: padding-box;
        --transition: all var(--transition-duration) var(--transition-timing-function);
        @if ($hover-active) {
            &:hover{
                --z-index: 1;
            }
        }
        > summary {
            --position: relative;
            --display: grid;
            --grid-auto-flow: column;
            --gap: var(--gap--s2);
            --justify-content: space-between;
            --align-items: center;
            --margin-block: var(--margin--s3);
            --margin-inline: var(--margin--s3);
            --text-align: center;
            --appearance: none;
            --min-inline-size: calc(var(--line-height) + var(--padding-block) * 2 + var(--border-width) * 2);
            --min-block-size: var(--min-inline-size);
            --font-size: var(--font-size--md);
            --font-weight: 600;
            --font-family: initial;
            --line-height: var(--size--6);
            --padding-block: var(--padding--s2);
            --padding-inline: var(--padding--md);
            --border-radius: var(--border-radius--s2);
            --border-width: 0em;
            --border-style: solid;
            --border-color: transparent;
            --color: var(--negative);
            --background: var(--positive);
            --background-clip: padding-box;
            --cursor: pointer;
            --letter-spacing: var(--size--0_25);
            --outline-style: solid;
            --outline-width: var(--size--0_5);
            --outline-color: transparent;
            --outline-offset: var(--size--0_5);
            --transition: all var(--transition-duration) var(--transition-timing-function);
            --user-select: none;
            @if ($hover-active) {
                &:hover {
                    --outline-color: currentColor;
                    --color: var(--negative--light);
                }
            }
            &:active {
                --outline-color: currentColor;
                --outline-offset: var(--size--0);
                --color: var(--negative);
            }
            &:focus-visible:not(:hover) {
                --outline-color: currentColor;
                --color: var(--negative);
            }
        }
        &[open] > summary {
            e-open,
            .element--open {
                --display: none;
            }
            e-close {
                --display: contents;
            }
            .element--close {
                --display: inherit;
            }
        }
        &:not([open]) > summary {
            e-open {
                --display: contents;
            }
            e-close,
            .element--close {
                --display: none;
            }
            .element--open {
                --display: inherit;
            }
        }
        > e-body {
            --display: block;
            --margin-block: var(--margin--s3);
            --margin-inline: var(--margin--s3);
            --padding-block: var(--padding--md);
            --padding-inline: var(--padding--md);
            --border-radius: var(--border-radius--s2);
            --background: var(--positive--light);
        }
    }
}