@mixin figure() {
    figure {
        --margin-block: var(--margin--md);
        --margin-inline: var(--margin--l4);
        --border-radius: var(--border-radius--s1);
        --background-color: var(--positive--light);
        --background-image: linear-gradient(var(--positive--mute));
        --overflow: auto;
        :is(e-body, element--body) > & { // figure в figure сбрасывает margin-inline
            --margin-inline: 0;
        }

        > * {
            --border-end-start-radius: var(--border-radius--s2);
            --border-end-end-radius: var(--border-radius--s2);
            --border-start-start-radius: var(--border-radius--s2);
            --border-start-end-radius: var(--border-radius--s2);
            &:where(:first-child:not(:last-child)) {
                --border-end-start-radius: var(--border-radius--s3);
                --border-end-end-radius: var(--border-radius--s3);
            }
            &:where(:last-child:not(:first-child)) {
                --border-start-start-radius: var(--border-radius--s3);
                --border-start-end-radius: var(--border-radius--s3);
            }
            &:where(:not(:first-child, :last-child)) {
                --border-end-start-radius: var(--border-radius--s3);
                --border-end-end-radius: var(--border-radius--s3);
                --border-start-start-radius: var(--border-radius--s3);
                --border-start-end-radius: var(--border-radius--s3);
            }
            > * {
                --border-end-start-radius: initial;
                --border-end-end-radius: initial;
                --border-start-start-radius: initial;
                --border-start-end-radius: initial;
            }
        }

        > figcaption {
            --margin-block: var(--margin--s3);
            --margin-inline: var(--margin--s3);
            --padding-block: var(--padding--s2);
            --padding-inline: var(--padding--md);
            --border-radius: var(--border-radius--s2);
            --background-clip: padding-box;
            --color: var(--negative);
        }
        > e-body,
        > .element--body {
            --display: block;
            --margin-block: var(--margin--s3);
            --margin-inline: var(--margin--s3);
            --padding-block: var(--padding--md);
            --padding-inline: var(--padding--md);
            --border-radius: var(--border-radius--s2);
            --background-color: var(--positive--light);
            // --overflow: auto;
        }
    }
}