@mixin aspect-ratio($type, $orientation, $enableVariables) {
    /* aspect ratio */

    @if $enableVariables {
        .aspect-ratio {
            aspect-ratio: var(--#{$type}#{$orientation}aspect-ratio, var(--aspect-ratio));
            // сбрасываем у потомков значения переменных
            > * {
                --#{$type}#{$orientation}aspect-ratio: initial;
            }
        }
    }
}