@mixin box-sizing($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* box sizing */
    @each $boxSizing in (
        "border",
        "content"
    ) {
        .box-sizing--#{$boxSizing} {
            box-sizing: #{$boxSizing}-box;
        }    
    }
}