@mixin height($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* height */
    @each $height in (
        "min-height",
        "height",
        "max-height"
    ) {
        .#{$type}#{$orientation}#{$height} {
            @each $value in (
                "fit-content",
                "min-content",
                "max-content",
                "stretch",
                "unset"
            ) {
                &--#{$value} {
                    #{$height}: #{$value};
                }
            }
        }
    
        @if $enableVariables {
            .#{$height} {
                #{$height}: var(--#{$type}#{$orientation}#{$height}, var(--#{$height}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --#{$height}: initial;
                    }
                }
            }
        }
    }
}