@mixin height($type, $orientation, $enableVariables) {
    /* height */
    @each $height in (
        "min-height",
        "height",
        "max-height"
    ) {
        .#{$type}#{$orientation}#{$height} {
            @each $alias, $value in (
                "fit": "fit-content",
                "min": "min-content",
                "max": "max-content",
                "stretch": "stretch",
                "unset": "unset"
            ) {
                &--#{$alias} {
                    #{$height}: #{$value};
                }
            }
        }
    
        @if $enableVariables {
            .#{$height} {
                #{$height}: var(--#{$type}#{$orientation}#{$height}, var(--#{$height}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}#{$height}: initial;
                }
            }
        }
    }
}