@mixin resize($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* resize */
    @each $resize in (
        "both",
        "horizontal",
        "vertical",
        "none"
    ) {
        .#{$type}#{$orientation}resize--#{$resize} {
            resize: #{$resize};
        }
    }
}