@mixin resize($device, $orientation, $enableVariables) {
    /* resize */
    @each $resize in (
        "both",
        "horizontal",
        "vertical",
        "none"
    ) {
        .#{$device}#{$orientation}resize--#{$resize} {
            resize: #{$resize};
        }
    }

    @if $enableVariables {
        .resize {
            @if $device == "" and $orientation == "" {
                resize: var(--resize);
            } @else {
                resize: var(--#{$device}#{$orientation}resize, var(--resize));
            }
        }
    }
}