@mixin width($type, $orientation, $enableVariables) {
    /* width */
    @each $width in (
        "min-width",
        "width",
        "max-width"
    ) {
        .#{$type}#{$orientation}#{$width} {
            @each $alias, $value in (
                "fit": "fit-content",
                "min": "min-content",
                "max": "max-content",
                "stretch": "stretch",
                "unset": "unset"
            ) {
                &--#{$alias} {
                    #{$width}: #{$value};
                }
            }
        }
    
        @if $enableVariables {
            .#{$width} {
                #{$width}: var(--#{$type}#{$orientation}#{$width}, var(--#{$width}));
                // сбрасываем у потомков значения переменных
                > * {
                    --#{$type}#{$orientation}#{$width}: initial;
                }
            }
        }
    }
}