@mixin width($type, $orientation, $enableVariables, $enableVariablesReset) {
    /* width */
    @each $width in (
        "min-width",
        "width",
        "max-width"
    ) {
        .#{$type}#{$orientation}#{$width} {
            @each $value in (
                "fit-content",
                "min-content",
                "max-content",
                "stretch",
                "unset"
            ) {
                &--#{$value} {
                    #{$width}: #{$value};
                }
            }
        }
    
        @if $enableVariables {
            .#{$width} {
                #{$width}: var(--#{$type}#{$orientation}#{$width}, var(--#{$width}));
                @if $enableVariablesReset {
                    // сбрасываем у потомков значения переменных
                    > * {
                        --#{$width}: initial;
                    }
                }
            }
        }
    }
}