@use "aspect-ratio" as *;
@use "box-sizing" as *;
@use "height" as *;
@use "resize" as *;
@use "width" as *;

@mixin sizing($type, $orientation, $enableVariables, $enableVariablesReset) {
    @include aspect-ratio($type, $orientation, $enableVariables, $enableVariablesReset);
    @include box-sizing($type, $orientation, $enableVariables, $enableVariablesReset);
    @include height($type, $orientation, $enableVariables, $enableVariablesReset);
    @include resize($type, $orientation, $enableVariables, $enableVariablesReset);
    @include width($type, $orientation, $enableVariables, $enableVariablesReset);
}