@mixin button($hover-active) {
    button,
    :is([type=button], [type=submit], [type=reset], [type=image]),
    // :where(::file-selector-button)[type=file],
    .element--button {
        --position: relative;
        --display: inline-grid;
        --grid-auto-flow: column;
        --grid-gap: var(--gap--s2);
        --justify-content: center;
        --align-items: center;
        --vertical-align: middle;

        --margin-block: initial;
        --margin-inline: initial;
        --padding-block: var(--padding--s3);
        --padding-inline: var(--padding--s1);
        --border: none;
        --border-radius: var(--border-radius--s2);
        --overflow: visible;

        --min-inline-size: calc(var(--line-height) + var(--padding-block) * 2);
        --min-block-size: var(--min-inline-size);

        --font-size: var(--font-size--md);
        --font-weight: 600;
        --line-height: var(--size--6);
        --text-align: center;
        --text-decoration-line: none;
        --text-transform: uppercase;
        --letter-spacing: var(--size--0_25);
        --white-space: nowrap;

        --color: var(--negative);
        --background: var(--positive);
        --background-clip: padding-box;

        --cursor: pointer;
        --transition: all var(--transition-duration) var(--transition-timing-function);
        --outline-style: solid;
        --outline-width: var(--size--0_5);
        --outline-color: transparent;
        --outline-offset: var(--size--0_5);

        --appearance: none;
        --user-select: none;

        &:hover {
            --color: var(--negative--dark);
            --outline-color: currentColor;
        }
        &:active {
            --color: var(--negative);
            --outline-color: currentColor;
            --outline-offset: var(--size--0);
        }
        &:focus-visible:not(:hover) {
            --color: var(--negative);
            --outline-color: currentColor;
        }
        @each $color in (
            "negative",
            "prime",
            "second",
            "success",
            "danger"
        ) {
            &.#{$color} {
                --background: var(--#{$color}--light);
                @if ($color == "negative") {
                    --color: var(--positive);
                } @else {
                    --color: var(--negative);
                }
                &:hover {
                    @if ($color == "negative") {
                        --color: var(--positive--light);
                        --outline-color: var(--negative--dark);
                    }
                }
                &:active {
                    @if ($color == "negative") {
                        --color: var(--positive);
                        --outline-color: var(--negative);
                    }
                }
                &:focus-visible:not(:hover) {
                    @if ($color == "negative") {
                        --color: var(--positive);
                        --outline-color: var(--negative);
                    }
                }
            }
        }

        &.differ {
            --background: var(--positive--light);
            &:hover {
                --color: var(--negative--dark);
                --outline-color: var(--negative--light);
            }
            &:active {
                --outline-color: var(--negative--light);
            }
            &:focus-visible:not(:hover) {
                --outline-color: var(--negative);
            }
            @each $color in (
                "negative",
                "prime",
                "second",
                "success",
                "danger"
            ) {
                &.#{$color} {
                    @if ($color == "negative") {
                        --background: var(--negative--light);
                        --color: var(--positive);
                    } @else {
                        --color: var(--#{$color});
                    }
                    &:hover {
                        @if ($color == "negative") {
                            --color: var(--positive--light);
                        } @else {
                            --color: var(--#{$color}--dark);
                        }
                    }
                }
            }
        }

        &[src] {
            --overflow: clip;
        }
    }
}