@mixin code() {
    code {
        --padding: var(--padding--s3) var(--padding--s2);
        --background-color: var(--white);
        --border-radius: var(--border-radius--s2);
        pre > & {
            --display: block;
        }
    }
}