@mixin input() {
    /* Выбор */
    :is([type=checkbox], [type=radio]) {
        --position: relative;
        --vertical-align: top;
        --display: inline-block;
        --min-width: var(--size--4);
        --min-height: var(--size--4);
        --margin-inline: 0;
        --margin-block: calc((1lh - 1em) / 2);
        --background-color: var(--positive);
        --background-repeat: no-repeat;
        --background-position: center;
        --background-size: 0% 0%;
        --border-width: var(--outline-width);
        --border-style: solid;
        --border-color: currentColor;
        --color: var(--negative);
        --font-size: var(--font-size--md);
        --line-height: inherit;
        --cursor: pointer;
        --outline-color: transparent;
        --outline-style: solid;
        --outline-width: var(--size--0_5);
        --outline-offset: var(--size--0_5);
        --appearance: none;
        --user-select: none;
        --pointer-events: none;
        --transition: all var(--transition-duration) var(--transition-timing-function);

        &:hover:not(:disabled) {
            --color: var(--negative--light);
            --outline-color: currentColor;
        }
        &:active:not(:disabled) {
            --color: var(--negative);
            --outline-color: currentColor;
            --outline-offset: var(--size--0);
        }
        &:focus-visible:not(:hover) {
            --color: var(--negative);
            --outline-color: currentColor;
        }
        &:has(+ label) {
            --margin-inline-end: var(--margin--s3);
        }

    }
    [type=checkbox] {
        --border-radius: var(--border-radius--s3);
        &:checked {
            --background-image: linear-gradient(currentColor, currentColor);
            --background-size: calc(100% - var(--size--1)) calc(100% - var(--size--1));
        }
        &:indeterminate {
            --background-image: linear-gradient(currentColor, currentColor);
            --background-size: calc(100% - var(--size--1)) var(--size--0_5);
        }
    }
    [type=radio] {
        --border-radius: var(--size--4);
        &:checked {
            --background-image: radial-gradient(circle, currentColor calc(100% - var(--size--1)), transparent calc(100% - var(--size--1)));
            --background-size: 100% 100%;
        }
    }

    /* Текстовые */
    :is([type=text], [type=password], [type=email], [type=url], [type=search], [type=tel], [type=number], [type=date], [type=time], [type=datetime-local], [type=month], [type=week]) {
        --position: relative;
        --display: inline-grid;
        --vertical-align: middle;
        --grid-auto-flow: column;
        --min-width: var(--min-height);
        --min-height: calc(var(--line-height) * 2);
        --margin: initial; /* calc(var(--outline-width, var(--size--0_5)) + var(--outline-offset, var(--size--0_5))); */
        --padding-block: var(--size--0);
        --padding-inline: var(--padding--s2);
        --background: var(--positive--light) linear-gradient(var(--positive--mute));
        --background-clip: padding-box;
        --border: none;
        --border-radius: var(--border-radius--s2);
        --color: var(--negative);
        --outline-color: var(--negative--mute);
        --outline-style: solid;
        --outline-width: var(--size--0_25);
        --outline-offset: calc(var(--size--0_25) * -1);
        --font-size: var(--font-size--md);
        --font-weight: 400;
        --font-family: initial;
        --line-height: var(--size--4);
        --appearance: none;
        --user-select: initial;
        --transition: all var(--transition-duration) var(--transition-timing-function);
        
        &[list] {
            --appearance: none;    
        }
        &::placeholder {
            --font-style: italic;
            --color: var(--negative--mute);
        }
        &:hover:not(:focus-visible, :disabled, :read-only) {
            --color: var(--negative--light);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger--light);
            }
        }
        &:focus-visible:not(:read-only) {
            --color: var(--negative);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger);
            }
            &::placeholder {
                --color: transparent;
            }
        }
        &:read-only {
            --cursor: not-allowed;
        }
        // &:where([data-validation=immediate]):invalid,
        &:where(:not([data-validation=user])):invalid,
        &:where([data-validation=user]):user-invalid {
            --color: var(--danger);
            --outline-color: var(--danger--mute);
        }
    }

    /* Ползунок диапазона */
    :is([type=range]) {
        --position: relative;
        --display: inline-grid;
        --grid-auto-flow: column;
        --min-width: var(--min-height);
        --min-height: calc(var(--line-height) * 2);
        --margin: unset;
        --padding-block: var(--size--0);
        --padding-inline: var(--padding--s3);
        --background: var(--positive--light) linear-gradient(var(--positive--mute));
        --background-clip: padding-box;
        --border: none;
        --border-radius: var(--border-radius--s2);
        --color: var(--negative);
        --outline-color: var(--negative--mute);
        --outline-style: solid;
        --outline-width: var(--size--0_25);
        --outline-offset: calc(var(--size--0_25) * -1);
        --font-size: var(--font-size--md);
        --line-height: var(--size--4);
        --appearance: none;
        --cursor: ew-resize;
        --transition: all var(--transition-duration) var(--transition-timing-function);

        &:hover:not(:focus-visible, :disabled) {
            --color: var(--negative--light);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger--light);
            }
        }
        &:focus-visible {
            --color: var(--negative);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger);
            }
        }
        &:where([data-validation=immediate]):invalid,
        &:where([data-validation=user]):user-invalid {
            --color: var(--danger);
            --outline-color: var(--danger--mute);
        }
        
        &::-webkit-slider-thumb {
            --appearance: none;
            --height: calc(var(--min-height) - var(--size--2));
            --width: var(--size--2);
            --background: currentColor;
            --border-radius: var(--border-radius--s3);
            --border: none;
        }
        &::-moz-range-thumb {
            --appearance: none;
            --height: calc(var(--min-height) - var(--size--2));
            --width: var(--size--2);
            --background: currentColor;
            --border-radius: var(--border-radius--s3);
            --border: none;
        }
    }

    /* Файл и медиа */
    :is([type=file], [type=color]) {
        --position: relative;
        --display: inline-grid;
        --vertical-align: middle;
        --grid-auto-flow: column;
        --min-width: var(--min-height);
        --min-height: calc(var(--font-size) * 2);
        // --min-height: calc(var(--line-height) * 2);
        --margin: initial; /* calc(var(--outline-width, var(--size--0_5)) + var(--outline-offset, var(--size--0_5))); */
        --background: var(--positive--light) linear-gradient(var(--positive--mute));
        --background-clip: padding-box;
        --border: none;
        --border-radius: var(--border-radius--s2);
        --color: var(--negative);
        --outline-color: var(--negative--mute);
        --outline-style: solid;
        --outline-width: var(--size--0_25);
        --outline-offset: calc(var(--size--0_25) * -1);
        --font-size: var(--font-size--md);
        --font-weight: 400;
        --font-family: initial;
        --line-height: var(--min-height);
        // --line-height: var(--font-size);
        --appearance: none;
        --cursor: pointer;
        --user-select: initial;
        --transition: all var(--transition-duration) var(--transition-timing-function);

        &:hover:not(:focus-visible, :disabled) {
            --color: var(--negative--light);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger--light);
            }
        }
        &:focus-visible {
            --color: var(--negative);
            --outline-color: currentColor;
            --outline-width: var(--size--0_5);
            --outline-offset: var(--size--0_5);
            &:where([data-validation=immediate]):invalid,
            &:where([data-validation=user]):user-invalid {
                --color: var(--danger);
            }
        }
        &:where(:not([data-validation=user])):invalid,
        &:where([data-validation=user]):user-invalid {
            --color: var(--danger);
            --outline-color: var(--danger--mute);
        }
    }

    :is([type=file]) {
        --padding-block: var(--size--0);
        --padding-inline: var(--padding--s2);
        &::file-selector-button {
            display: none;
        }
    }
    :is([type=color]) {
        --width: max-content;
        --padding-block: var(--padding--s3);
        --padding-inline: var(--padding--s3);
        &::-webkit-color-swatch-wrapper {
            --padding-block: none;
            --padding-inline: none;
        }  
        &::-webkit-color-swatch {
            --border: none;
            --border-radius: var(--border-radius--s3);
        }
        &::-moz-color-swatch {
            --border: none;
            --border-radius: var(--border-radius--s3);
        }
    }
}