@mixin table() {
    table {
        --width: 100%;
        --height: min-content;
        --table-layout: fixed;
        --border-collapse: separate;
        --border-spacing: var(--size--025);
        --background-color: var(--positive--light);

        caption {
            --padding: var(--padding--s2);
            --text-align: start;
            --font-weight: 600;
            --font-size: var(--font-size--l1);
        }

        :is(thead, tbody, tfoot) {
            --position: relative;
            --padding: var(--size--2);
            tr {
                th {
                    --font-weight: 600;
                }
                tr {
                    --font-weight: 400;
                }
                :is(th, td) {
                    --border-radius: none;
                }
            }
        }

        thead {
            tr {
                :is(th, td) {
                    --padding: var(--size--2);
                    --background-color: var(--positive);
                }
            }
        }

        tbody {
            tr {
                td {
                    --background-color: var(--positive--mute);
                }
                th {
                    --background-color: var(--positive);
                }
            }
        }

        tfoot {
            tr {
                :is(th, td) {
                    --background-color: var(--positive);
                }
            }
        }

        > :is(:first-child, caption + *) > tr:first-child > :is(th, td) {
            &:first-child {
                border-top-left-radius: var(--border-radius--s2);
            }
            &:last-child {
                border-top-right-radius: var(--border-radius--s2);
            }
        }
        > :last-child > tr:last-child > :is(th, td) {
            &:first-child {
                border-bottom-left-radius: var(--border-radius--s2);
            }
            &:last-child {
                border-bottom-right-radius: var(--border-radius--s2);
            }
        }

        thead::after,
        tfoot::before {
            --content: "";
            --position: absolute;
            --width: 100%;
            --border-width: thin;
            --border-top-style: solid;
            --border-bottom-style: solid;
            --border-color: var(--negative--mute);
        }
        thead::after {
            --bottom: calc(var(--size--025) * -1);
        }
        tfoot::before {
            --top: calc(var(--size--025) * -1);
        }
    }
}